@model X.PagedList.PagedList< OscaFramework.Models.ServicoOrdem>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}

<script>

       function CarregaProdutoPedidoUpdate() {
           $("#ModalProdutoPedido").load("/ProdutoPedido/FormUpdateProdutoPedido?idProdutoPedido=" + '@if (@Model.Count > 0) { @Model[0].id.ToString()}', function () {
            $("#ModalProdutoPedido").modal("show");
        });
    }

</script>

<div class="card" id="osc_Grid">
    <div class="card-body">
        <div class="row">
            <div class="col-md-11">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Código Produto</th>
                            <th>Nome Produto</th>
                            <th>Qtd/Horas</th>
                            <th>Valor</th>
                            <th>Desconto</th>
                            <th>Total</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    @{
                        int qtd = 0;
                        decimal desconto = 0;
                        decimal total = 0;

                    }
                    @foreach (var item in Model)
                    {
                        qtd      += item.hora;
                        desconto += item.valorDesconto;
                        total += item.totalGeral;

                        <tr>
                            <td>1010</td>
                            <td>TESTE</td>
                            <td>@item.hora</td>
                            <td>@item.valor.ToString("N2")</td>
                            <td>@item.valorDesconto.ToString("N2")</td>
                            <td>@item.totalGeral.ToString("N2")</td>
                            <td>
                                <div class="form-group col-md-2">
                                    <button id="osc_edit" type="button" class="btn btn-success btn-sm fa fa-edit" value="voltar" onclick="CarregaProdutoPedidoUpdate()"> <span>Editar</span></button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-2">
                                    <button id="osc_remove" type="button" class="btn btn-danger btn-sm fa fa-remove" value="voltar" onclick="location.href='@Url.Action("DeleteProdutoPedido", "ProdutoPedido", new { idServicoOrdem = Model[0].id, idOrdem = Model[0].id })'"> <span>Remover</span></button>
                                </div>
                            </td>
                        </tr>
                        }
                    <tfoot id="osc_tableFooterProdutoPedido">
                        <tr style="background-color:gray; color:white ; font-size:20px">
                            <td></td>
                            <td></td>
                            <td>@qtd</td>
                            <td></td>
                            <td>R$@desconto.ToString("N2")</td>
                            <td>R$@total.ToString("N2")</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div>
                    <table>
                        <tr>
                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridServicoOrdem", "ServicoOrdem", new { page }))</td>
                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalProdutoPedido">
</div>
