@model OscaApp.ViewModels.ProdutoFornecedorViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
</div>

<div class="row">
    <div class="col-md-11">

        <form action="FormCreateProdutoFornecedor" method="post" id="FormCreateProdutoFornecedor">
            <div class="card" id="osc_MainForm">
                <div class="card-header">
                    <div class="card-title ">
                        <table>
                            <tr>
                                <td><h3>Produto Fornecedor: &nbsp;&nbsp;</h3></td>
                                <td>
                                    <div id="osc_barrabotoes">
                                        <label>
                                            <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                        </label>
                                        <label>
                                            <button id="osc_fechar" type="button" class="btn btn-info btn-sm fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridListaPreco", "ListaPreco" , null)'"> <span>Fechar</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" style="color:red">Produto*</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-list fa-2x"></i></span>&nbsp;
                                        <input asp-for="@Model.produto.idName" class="form-control" type="text" disabled="disabled" id="osc_produtoidName">
                                        <input asp-for="@Model.produto.id" class="form-control" type="hidden" value="@Model.produto.id" id="osc_produtoid">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" style="color:red">Fornecedor*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fa fa-id-badge  fa-2x"></span>
                                        </span>
                                    </div>
                                    <input id="osc_fornecedorIdName" asp-for="@Model.fornecedor.idName" type="text" class="form-control" required="required" placeholder="..." autocomplete="off">
                                    <span class="input-group-btn ">
                                        <button type="button" class="btn btn-info" onclick="CarregaLookupFornecedor()">
                                            <span class="fa fa-search fa-2x"></span>
                                        </button>
                                    </span>
                                    <input id="osc_fornecedorId" asp-for="@Model.fornecedor.id" type="hidden" class="form-control" />
                                </div>
                            </div>


                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Código Produto Fornecedor</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-asterix fa-2x"></i></span>&nbsp;
                                        <input asp-for="@Model.produtoFornecedor.codigoProdutoFornecedor" class="form-control" type="text" id="osc_codigoProdutoFornecedor" placeholder="000000000">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Valor de Compra</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-money fa-2x"></i></span>&nbsp;
                                        <input asp-for="@Model.produtoFornecedor.valorCompra" class="form-control" type="text" id="osc_valorCompra" placeholder="0,00" onblur="onBlur(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br />

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Criado Por</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-2x fa-user"></span>
                                    </span> &nbsp;
                                    <input id="osc_criadoPor" asp-for="@Model.produtoFornecedor.criadoPorName" type="text" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Criado Em</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar fa-2x"></span>
                                    </span> &nbsp;
                                    <input id="osc_criadoEm" asp-for="@Model.produtoFornecedor.criadoEm" type="text" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Modificado Por</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-2x fa-user"></span>
                                    </span> &nbsp;
                                    <input id="osc_modificadoPor" for="" type="text" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Modificado Em</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar fa-2x"></span>
                                    </span> &nbsp;
                                    <input id="osc_modificadoEm" for="" type="text" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/OscaJs/osc_lookup.js"></script>
<div class="modal fade" id="lookupFornecedor">
</div>
