@model OscaApp.ViewModels.ContasPagarViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.contasPagar.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 offset-1">
            <form action="FormCreateContasPagar" method="post" id="osc_Mainform">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3> Conta a pagar:&nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-floppy-o" value="Salvar"><span>Salvar</span></button>
                                            </label>
                                            &nbsp;
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info btn-sm fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridContasPagar","ContasPagar", null)'"><span>Fechar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Código</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>&nbsp;
                                            <input id="osc_codigo" asp-for="@Model.contasPagar.codigo" class="form-control" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Título</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>&nbsp;
                                            <input id="osc_codigo" asp-for="@Model.contasPagar.titulo" class="form-control" type="text" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Valor *</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money fa-2x"></i></span>&nbsp;
                                            <input asp-for="@Model.contasPagar.valor" class="form-control" type="text" id="osc_valor" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Data Pagamento *</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money fa-2x"></i></span>&nbsp;
                                            <input asp-for="@Model.contasPagar.dataPagamento" class="form-control" type="date" id="osc_dataPagamento" required="required">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Lançamento</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-2x"></span>&nbsp;
                                        </span>
                                        <select id="osc_tipoLancamento" asp-for="@Model.contasPagar.tipoLancamento" class="form-control">
                                            <option value="0">Manual</option>
                                            <option value="1">Automático</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Origem</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-2x"></span>&nbsp;
                                        </span>
                                        <select id="osc_origemContaPagar" asp-for="@Model.contasPagar.origemContaPagar" class="form-control">
                                            <option value="0">Fornecedor</option>
                                            <option value="1">Despesas</option>
                                            <option value="2">Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Anotação</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-comment-o fa-2x"></span>&nbsp;
                                        </span>
                                        <textarea id="osc_anotacao" asp-for="@Model.contasPagar.anotacao" class="form-control" rows="5" cols="40" placeholder="digite uma anotação"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Número de Ref</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>&nbsp;
                                            <input id="osc_numeroReferencia" asp-for="@Model.contasPagar.numeroReferencia" class="form-control" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Criado Por</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-2x fa-user"></span>
                                        </span> &nbsp;
                                        <input id="osc_criadoPor" asp-for="@Model.contasPagar.criadoPorName" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Criado Em</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar fa-2x"></span>
                                        </span> &nbsp;
                                        <input id="osc_criadoEm" asp-for="@Model.contasPagar.criadoEm" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Modificado Por</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-2x fa-user"></span>
                                        </span> &nbsp;
                                        <input id="osc_modificadoPor" for="" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Modificado Em</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar fa-2x"></span>
                                        </span> &nbsp;
                                        <input id="osc_modificadoEm" for="" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>