@model OscaApp.ViewModels.ContasPagarViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.contasPagar.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 offset-1">
            <form action="FormUpdateContasPagar" method="post">
                <div class="card" id="osc_MainForm">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3>Alterar dados:&nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-1x fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info  btn-lg fa fa-1x fa-close" value="Fechar" onclick="location.href='@Url.Action("GridContasPagar", "ContasPagar" , null)'"> <span>Fechar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_novo" type="button" class="btn btn-info  btn-lg fa fa-1x fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateContasPagar", "ContasPagar", null)'"> <span>Novo</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_status_inativa" type="button" class="btn btn-info btn-lg fa fa-ban fa-1x" value="Inativar"> <span>Inativar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_status_Ativar" type="button" class="btn btn-info btn-lg fa fa-check-circle-o fa-1x" value="Ativar"> <span>Ativar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_status_Deletar" type="button" class="btn btn-info btn-lg fa fa-times-circle-o fa-1x" value="Deletar"> <span>Deletar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input id="osc_id" asp-for="@Model.contasPagar.id" type="hidden" class="form-control" value="@Model.contasPagar.id" />
                            <div class="col-md-4 offset-1">
                                <div class="form-group">
                                    <label>Código</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-1x"></i></span>
                                            <input id="osc_codigo" asp-for="@Model.contasPagar.codigo" class="form-control" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 offset-1">
                                <div class="form-group">
                                    <label>Título</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-1x"></i></span>
                                            <input id="osc_codigo" asp-for="@Model.contasPagar.titulo" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Criado Por</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user"></span>
                                        </span>
                                        <input id="osc_criadoPor" asp-for="@Model.contasPagar.criadoPorName" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Criado Em</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar fa-1x"></span>
                                        </span>
                                        <input id="osc_criadoEm" asp-for="@Model.contasPagar.criadoEm" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Modificado Por</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user"></span>
                                        </span>
                                        <input id="osc_modificadoPor" asp-for="@Model.contasPagar.modificadoPorName" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Modificado Em</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar fa-1x"></span>
                                        </span>
                                        <input id="osc_modificadoEm" asp-for="@Model.contasPagar.modificadoEm" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-exclamation fa-1x"></span>
                                        </span>
                                        <input id="osc_status" asp-for="@Model.contasPagar.status" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

