@model OscaApp.ViewModels.BalcaoVendasViewModel

<script>
        function CarregaFormStatus() {
        $("#ModalStatus").load("/BalcaoVendas/FormStatusBalcaoVendas?id=" + '@Model.balcaoVendas.id' , function () {
            $("#ModalStatus").modal("show");
        });
    }
        function Imprimir2(){
        window.open("/BalcaoVendas/ImpressaoCupom?id=" + '@Model.balcaoVendas.id', "Print", "width=950,height=700");
    }


</script>

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)

</div>

<div class="row">
    <div class="col-md-12">
        @if (!String.IsNullOrEmpty(Model.StatusMessage))
        {

            <div class="alertPers alert alert-success alert-dismissible alert-dismissiblePers" role="alert">
                <button type="button" class="closePers close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @Model.StatusMessage
            </div>
        }

        <div class="card " id="osc_MainForm">
            <div class="card-header" style="height:70px">
                <div class="card-title">
                    <table>
                        <tr>
                            <td><h3>Venda:&nbsp; </h3></td>
                            <td>
                                <div id="osc_barrabotoes">

                                    <label>
                                        <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="" onclick="location.href='@Url.Action("BalcaoVendas", "BalcaoVendas" , null)'"> <span>Nova Venda</span></button>
                                    </label>
                                    <label>
                                        <button id="osc_fechar" type="button" class="btn btn-danger btn-lg fa fa-close" value="" onclick="location.href='@Url.Action("GridBalcaoVendas", "BalcaoVendas" , null)'"> <span>Fechar</span></button>
                                    </label>
                                    <label>
                                        <button id="osc_imprimir" type="button" class="btn btn-success btn-lg fa fa-print" value="" onclick="Imprimir2();"> <span>Emitir Cupom</span></button>
                                    </label>
                                    <label>
                                        <button id="osc_reabrir" type="button" class="btn btn-info btn-lg fa fa-exclamation" value="" onclick="CarregaFormStatus()"> <span>Cancelar</span></button>
                                    </label>
                                </div>
                            </td>
                            <td width="300px" align="center"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Código</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_Codigo" asp-for="@Model.balcaoVendas.codigo" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" style="color:deepskyblue">Cliente</label>
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <span class="fa fa-user-o fa-2x" onclick="OpenLookupCliente()" style="cursor:pointer"></span>
                                            </span>
                                            <input id="osc_clienteIdName" asp-for="@Model.cliente.idName" type="text" class="form-control" disabled="disabled">
                                            <input id="osc_clienteId" asp-for="@Model.cliente.id" type="hidden" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Lista de Preço</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_idNameListaPreco" asp-for="@Model.listapreco.idName" type="text" class="form-control" disabled="disabled" />
                                                <input id="osc_idListaPreco" asp-for="@Model.listapreco.idName" type="hidden" class="form-control" value="@Model.listapreco.id" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Tipo Pagamento</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_Codigo" asp-for="@Model.balcaoVendas.tipoPagamento" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Condição Pagamento</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_condicaoPagamento" asp-for="@Model.balcaoVendas.condicaoPagamento" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tipo de Desconto</label>
                                        <div class="input-group">
                                            <select id="osc_tipoDesconto" asp-for="@Model.balcaoVendas.tipoDesconto" class="form-control" disabled="disabled">
                                                <option value="1">Valor</option>
                                                <option value="2">Percentual</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Dia Vencimento</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_diaVencimento" asp-for="@Model.balcaoVendas.diaVencimento" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">CPF</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_CPF" asp-for="@Model.balcaoVendas.cpf" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Valor Total</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_valorTotal" value="R$ @Model.balcaoVendas.valorTotal.ToString("N2")" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="div_Desconto">
                                        <label>Valor Desconto</label>
                                        <div class="input-group">
                                            <input value="@Model.balcaoVendas.valorDesconto.ToString("N2")" type="text" class="form-control" id="osc_valorDesconto" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Quantidade Parcela</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_quantidadeParcela" asp-for="@Model.balcaoVendas.parcelas" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Vendedor</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_vendedor" asp-for="@Model.balcaoVendas.criadoPorName" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Status da Venda</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_statusVendas" asp-for="@Model.balcaoVendas.statusBalcaoVendas" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Data da Venda</label>
                                        <div class="inputGroupContainer">
                                            <div class="input-group">
                                                <input id="osc_dataVendas" asp-for="@Model.balcaoVendas.criadoEm" type="text" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <table class="table  table-bordered table-responsive-sm table-hover ">
                                <thead class="thead-light">
                                    <tr style="font-size:16px;">
                                        <th style="width:16px;">Código</th>
                                        <th style="width:300px;">Nome</th>
                                        <th style="width:16px;">Quantidade</th>
                                        <th style="width:50px;">Valor</th>
                                        <th style="width:50px;">Valor Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.produtosBalcao)
                                    {
                                        <tr style="cursor:pointer;font-size:12px" onclick="location.href='@Url.Action("FormUpdateProduto", "Produto", new {id = item.idProduto })'">
                                            <td>@item.codigo</td>
                                            <td>@item.nome</td>
                                            <td>@item.quantidade</td>
                                            <td>R$@item.valor.ToString("N2")</td>
                                            <td>R$@item.valorTotal.ToString("N2")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalStatus">
</div>
<script src="~/lib/OscaJs/osc_global.js"></script>
<script src="~/lib/OscaJs/osc_lookup.js"></script>
<script src="~/lib/OscaJs/osc_balcaoVendas.js"></script>















