@model OscaApp.ViewModels.BalcaoVendasViewModel

<script>
        function CarregaFormStatus() {
        $("#ModalStatus").load("/BalcaoVendas/FormStatusBalcaoVendas?id=" + '@Model.balcaoVendas.id' , function () {
            $("#ModalStatus").modal("show");
        });
    }
        function Imprimir2(){
        window.open("/BalcaoVendas/ImpressaoCupom?id=" + '@Model.balcaoVendas.id', "Print", "width=950,height=700");
    }


</script>

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)

</div>

<div class="row">
    <div class="col-md-12">
        @if (!String.IsNullOrEmpty(Model.StatusMessage))
        {

            <div class="alertPers alert alert-success alert-dismissible alert-dismissiblePers" role="alert">
                <button type="button" class="closePers close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @Model.StatusMessage
            </div>
        }
        <form action="BalcaoVendasView" method="post" id="BalcaoVendasView">
            <div class="card " id="osc_MainForm">
                <input asp-for="@Model.balcaoVendas.id" class="form-control" type="hidden" id="osc_balcaoVendasId" value="@Model.balcaoVendas.id">
                <div class="card-header" style="height:70px">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td><h3 class="fa fa-2x fa-cart-plus">Venda:&nbsp; </h3></td>
                                <td>
                                    <div id="osc_barrabotoes">

                                        <label>
                                            <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="" onclick="location.href='@Url.Action("BalcaoVendas", "BalcaoVendas" , null)'"> <span>Nova Venda</span></button>
                                        </label>
                                        <label>
                                            <button id="osc_fechar" type="button" class="btn btn-danger btn-lg fa fa-close" value="" onclick="location.href='@Url.Action("GridBalcaoVendas", "BalcaoVendas" , null)'"> <span>Fechar</span></button>
                                        </label>
                                        <label>
                                            <button id="osc_imprimir" type="button" class="btn btn-success btn-lg fa fa-print" value="" onclick="Imprimir2();"> <span>Emitir Cupom</span></button>
                                        </label>
                                        <label>
                                            <button id="osc_reabrir" type="button" class="btn btn-info btn-lg fa fa-exclamation" value="" onclick="CarregaFormStatus()"> <span>Alterar</span></button>
                                        </label>
                                        <label>
                                            <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                        </label>
                                    </div>
                                </td>
                                <td width="300px" align="center"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Código</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_Codigo" value="@Model.balcaoVendas.codigo" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-user-o fa-2x" onclick="OpenLookupCliente()" style="cursor:pointer"></span>
                                                    </span>
                                                </div>
                                                <input id="osc_clienteIdName" asp-for="@Model.cliente.idName" type="text" class="form-control" required="required" placeholder="Cliente" autocomplete="off">
                                                <span class="input-group-btn ">
                                                    <button type="button" class="btn btn-info" onclick="CarregaLookupCliente()" id="botaoLookupCliente">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                                <input id="osc_clienteId" asp-for="@Model.cliente.id" type="hidden" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Lista de Preço</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_idNameListaPreco" value="@Model.listapreco.idName" type="text" class="form-control" disabled="disabled" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label>Condição de Pagamento</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                </span>
                                                <input id="osc_condicaoPagamento" value="@Model.balcaoVendas.condicaoPagamento" class="form-control" disabled="disabled">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo Pagamento</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                </span>
                                                <input id="osc_tipoPagamento" value="@Model.balcaoVendas.tipoPagamento" class="form-control" disabled="disabled">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo de Desconto</label>
                                            <div class="input-group">
                                                <select id="osc_tipoDesconto" value="@Model.balcaoVendas.tipoDesconto" class="form-control" disabled="disabled">
                                                    <option value="1">Valor</option>
                                                    <option value="2">Percentual</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Dia Vencimento</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_diaVencimento" value="@Model.balcaoVendas.diaVencimento" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label class="control-label">Valor Total</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_valorTotal" value="R$ @Model.balcaoVendas.valorTotal.ToString("N2")" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="div_Desconto">
                                            <label>Valor Desconto</label>
                                            <div class="input-group">
                                                <input value="@Model.balcaoVendas.valorDesconto.ToString("N2")" type="text" class="form-control" id="osc_valorDesconto" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Quantidade Parcela</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_quantidadeParcela" value="@Model.balcaoVendas.parcelas" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Valor Pago Dinheiro</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_valorPagoDinheiro" value="R$ @Model.balcaoVendas.valorDinheiroPago.ToString("N2")" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Vendedor</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_vendedor" value="@Model.balcaoVendas.criadoPorName" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" style="color:red">Status</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                                    <select id="osc_statusBalcaoVendas" asp-for="@Model.balcaoVendas.statusBalcaoVendas" class="form-control" required="required" style="background-color:aquamarine" data-toggle="tooltip" data-placement="top" title="O cancelamento deste item, irá cancelar a linha de Faturamento!">
                                                        <option value="2">Cancelado</option>
                                                        <option value="0">Em Andamento</option>
                                                        <option value="1">Fechado</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Data da Venda</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_dataVendas" value="@Model.balcaoVendas.criadoEm" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Troco</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <input id="osc_troco" value="R$ @Model.balcaoVendas.troco.ToString("N2")" type="text" class="form-control" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <table class="table  table-bordered table-responsive-sm table-hover ">
                                    <thead class="thead-light">
                                        <tr style="font-size:16px;">
                                            <th style="width:16px;">Código</th>
                                            <th style="width:300px;">Nome</th>
                                            <th style="width:16px;">Quantidade</th>
                                            <th style="width:50px;">Valor</th>
                                            <th style="width:50px;">Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.produtosBalcao)
                                        {
                                            <tr style="cursor:pointer;font-size:12px" onclick="location.href='@Url.Action("FormUpdateProduto", "Produto", new {id = item.idProduto })'">
                                                <td>@item.codigo</td>
                                                <td>@item.nome</td>
                                                <td>@item.quantidade</td>
                                                <td>R$@item.valor.ToString("N2")</td>
                                                <td>R$@item.valorTotal.ToString("N2")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="modal fade" id="ModalStatus">
</div>

<div class="modal fade" id="lookupCliente">
</div>
<script src="~/lib/OscaJs/osc_global.js"></script>
<script src="~/lib/OscaJs/osc_lookup.js"></script>
<script src="~/lib/OscaJs/osc_balcaoVendas.js"></script>
<script src="~/lib/OscaJs/osc_cliente.js"></script>
<script>
    BalcaoViewOnload();

</script>
















