@model X.PagedList.PagedList<OscaApp.ViewModels.GridViewModels.BalcaoVendasGridViewModel>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{int viewContexto = ViewBag.viewContexto; }

<div class="row">
    <div class="col-md-12">
        <div class="card  " id="osc_Grid">
            <div class="card-header" style="height:60px">
                <div class="card-title">
                    <form class="form-inline" asp-route-view="@viewContexto">
                        <table>
                            <tr>
                                <td>
                                    <i style="font-weight:bold" class="fa fa-2x fa-cart-plus"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <label>
                                            <button id="osc_novo" type="button" class="btn btn-success btn-lg fa fa-plus" value="Nova Venda" onclick="location.href='@Url.Action("BalcaoVendas", "BalcaoVendas", null)'"> <span>Nova venda</span></button>
                                        </label>&nbsp;
                                        <div class="form-group">
                                            <label>Filtros</label>
                                            <div class="input-group">
                                                &nbsp;<div class="col-2">
                                                    <select id="osc_filtro" class="form-control custom-select-sm" required="required" onchange="OnChangeFiltro();" asp-for="@viewContexto">
                                                        <option value="0" selected="">Vendas do Dia</option>
                                                        <option value="1">Vendas dos últimos 3 dias</option>
                                                        @*<option value="2">Vendas do Mes</option>*@
                                                        <option value="3">Vendas do Período</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>&nbsp;
                                        <div class="form-group mx-sm-3 mb-2">
                                            <input type="text" style="width:120px" class="form-control" id="osc_DataInicio" placeholder="Data Início" name="inicio" autocomplete="off" asp-route-inicio="10/12/2014">
                                            &nbsp;
                                            <input type="text" style="width:120px" class="form-control" id="osc_DataFim" placeholder="Data Fim" name="fim" autocomplete="off" asp-route-fim="10/12/2014">
                                        </div>
                                        &nbsp;&nbsp;
                                        <span>
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                        </span>
                                        <button type="submit" class="btn btn-info fa fa-search"></button>
                                        &nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </label>
                                        &nbsp;
                                        <label style="font-weight:bold">
                                            Hoje R$<input id="valorDiario" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" />
                                        </label>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover   table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Código Venda</th>
                                <th>Cliente</th>
                                <th>Valor</th>
                                <th>Condição Pagamento</th>
                                <th>Tipo Pagamento</th>
                                <th>Vendido Por</th>
                                <th>Data Venda</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr style="cursor:pointer;font-size:12px" id="@item.balcaoVendas.id" onclick="location.href='@Url.Action("BalcaoVendasView", "BalcaoVendas", new { id = item.balcaoVendas.id })'">
                                <td><i class="fa fa-cart-plus fa-2x"></i></td>
                                <td>@Html.ActionLink(item.balcaoVendas.codigo.ToString(), "BalcaoVendasView", new { id = item.balcaoVendas.id })</td>
                                <td>
                                    @if (item.cliente != null)
                                    {@item.cliente.nomeCliente}
                                </td>
                                <td>R$@item.balcaoVendas.valorTotal.ToString("N2")</td>
                                <td>@item.balcaoVendas.condicaoPagamento</td>
                                <td>@item.balcaoVendas.tipoPagamento</td>
                                <td>@item.balcaoVendas.criadoPorName</td>
                                <td>@item.balcaoVendas.criadoEm</td>
                                <td>@item.balcaoVendas.statusBalcaoVendas</td>

                            </tr>
                        }
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridBalcaoVendas", "BalcaoVendas", new { page }))</td>
                        <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



<div style="height:500px"></div>
<script src="~/lib/OscaJs/osc_balcaoVendas.js"></script>
<script src="~/lib/OscaJs/osc_servicesWeb.js"></script>

<script>
    //Configura calendario
    Calendario("#osc_DataInicio");
    Calendario("#osc_DataFim");

    var url = window.location.search.replace("?", "");
    var items = url.split("&");

    var array = {
        'valor': items[0]
    }

    if (array.valor == "view=0") { $("#osc_filtro").val("0"); }
    if (array.valor == "view=1") { $("#osc_filtro").val("1"); }
    if (array.valor == "view=2") { $("#osc_filtro").val("2"); }
    if (array.valor == "view=3") { $("#osc_filtro").val("3"); }


    ValorDiario();

    function OnChangeFiltro() {

        var filtro = $("#osc_filtro").val();

        if (filtro == "0") { $(window.document.location).attr('href', "GridBalcaoVendas?view=0"); }
        if (filtro == "1") { $(window.document.location).attr('href', "GridBalcaoVendas?view=1"); }
        if (filtro == "2") { $(window.document.location).attr('href', "GridBalcaoVendas?view=2"); }
        if (filtro == "3") { $(window.document.location).attr('href', "GridBalcaoVendas?view=3"); }



    }

</script>