@model X.PagedList.PagedList<OscaApp.ViewModels.GridViewModels.BalcaoVendasGridViewModel>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

<div class="row">
    <div class="col-md-12">      
        <div class="card  " id="osc_Grid">
            <div class="card-header">
                <div class="card-title">
                    <form class="form-inline">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Vendas Realizadas: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <label>
                                            <button id="osc_novo" type="button" class="btn btn-success btn-lg fa fa-plus" value="Nova Venda" onclick="location.href='@Url.Action("BalcaoVendas", "BalcaoVendas", null)'"> <span>Nova venda</span></button>
                                        </label>
                                        &nbsp;&nbsp;
                                        <span>
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                        </span>
                                        <button type="submit" class="btn btn-info fa fa-search"></button>
                                        &nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <button id="osc_back_Produto" type="button" class="btn btn-info btn-lg fa fa-cubes" value="voltar" onclick="location.href='@Url.Action("GridProduto", "Produto", null)'"><span>Produtos</span></button>
                                            &nbsp;&nbsp;
                                            <label>
                                                <button id="osc_back_contaReceber" type="button" class="btn btn-info btn-lg fa fa-envelope-open-o" value="voltar" onclick="location.href='@Url.Action("GridContasReceber", "ContasReceber", null)'"><span>Contas Receber</span></button>
                                            </label>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover   table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>CPF</th>
                                <th>Valor</th>
                                <th>Condição Pagamento</th>
                                <th>Tipo Pagamento</th>
                                <th>Vendido Por</th>
                                <th>Data Venda</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        <tr style="cursor:pointer;font-size:12px" id="@item.balcaoVendas.id" onclick="location.href='@Url.Action("BalcaoVendasView", "BalcaoVendas", new {id = item.balcaoVendas.id })'">
                            <td><i class="fa fa-cart-plus fa-2x"></i></td>
                            <td>@Html.ActionLink(item.balcaoVendas.codigo.ToString(), "BalcaoVendasView", new { id = item.balcaoVendas.id })</td>
                            <td>@item.balcaoVendas.cpf</td>
                            <td>R$@item.balcaoVendas.valorTotal.ToString("N2")</td>
                            <td>@item.balcaoVendas.condicaoPagamento</td>
                            <td>@item.balcaoVendas.tipoPagamento</td>
                            <td>@item.balcaoVendas.criadoPorName</td>
                            <td>@item.balcaoVendas.criadoEm</td>
                            <td>@item.balcaoVendas.statusBalcaoVendas</td>

                        </tr>
                        }
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridBalcaoVendas", "BalcaoVendas", new { page }))</td>
                        <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


