@model OscaApp.ViewModels.ImpressaoCupomViewModel
@{

    Layout = "_LayoutCupom";
}

<html>
<head>
    <meta lang="pt-br" charset="utf-8" />

    <title></title>

    <style>

        html, body {
               font-family: "Arial";
               font-size:@Model.orgConfig.cupom_fontesize;
               background: #CCCCCC;
               margin: 0;
               font-weight: 900;
           }

           .conteudo{
               width: @Model.orgConfig.cupom_largura;
               background: #FFFFFF;
               margin: 0 auto;
               padding: 10px;
               height:@Model.orgConfig.cupom_altura;
           }


           .text-center{
             text-align: center;
           }

           .text-left{
               text-align: left;
           }

           .text-right{
               text-align: right;
           }

             .rodape {
                   position: fixed;
                   left: 0px;
                   bottom: 20px;
                   right: 0px;
                   text-align: center;
                   width: 100%;
                   border-top: #000000 solid 1px
             }
             .rodape h2{
               margin: 0
             }

             table th, table td{

             }


    </style>

</head>
<body>
    <div class="conteudo">
        <div>

            <table>
                <tr>
                    <td>
                        <label>@Model.organizacao.nomeAmigavel</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>CNPJ: @Model.organizacao.cpf_cnpj </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Telefone: @Model.organizacao.TelefoneEmpresa</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@Model.organizacao.logradouro , @Model.organizacao.bairro</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>CUPOM NAO FISCAL &nbsp;&nbsp;@Model.balcaoVendas.codigo</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Data:  @DateTime.Now.ToShortDateString() </label>
                    </td>
                </tr>
            </table>
            <span class="text-center d-inline-block">----------------------------------------</span><br />
            <span class="text-center d-inline-block">DESCRICAO &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; QTD &nbsp;  VALOR &nbsp;&nbsp;  TOTAL</span>

            <table class="" cellpadding="0" cellspacing="0" border="0" width="100%">

                <tbody>
                    <tr>
                        <td style="width:270px"></td>
                        <td style="width:50px"></td>
                        <td style="width:100px"></td>
                        <td style="width:180px"></td>
                    </tr>
                    @foreach (var item in Model.produtosBalcao)
                    {
                        <tr>
                            <td>@item.nome</td>
                            <td>@item.quantidade</td>
                            <td>@item.valor.ToString("N2")</td>
                            <td>@item.valorTotal.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <span class="text-center d-inline-block">----------------------------------------</span>
            <table>
                <tr>
                    <td>Pagamento:</td>
                    <td>@Model.balcaoVendas.condicaoPagamento / @Model.balcaoVendas.tipoPagamento </td>
                </tr>
                <tr>
                    <td>Desconto:</td>
                    <td>R$ @Model.balcaoVendas.valorDesconto.ToString("N2") &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;QTD Parcelas: @if(Model.balcaoVendas.parcelas > 0){@Model.balcaoVendas.parcelas;} </td>
                </tr>
                <tr>
                    <td>TOTAL:</td>
                    <td>R$ @Model.balcaoVendas.valorTotal.ToString("N2")</td>
                </tr>
                <tr>
                    <td>CLIENTE:</td>
                    <td>@Model.cliente.nomeCliente</td>
                </tr>
                <tr>
                    <td>CPF/CNPJ:</td>
                    <td>@Model.cliente.cnpj_cpf</td>
                </tr>
            </table>
            <p>@Model.orgConfig.mensagemCupom</p>

        </div>
    </div>
</body>
</html>
<script>
    window.print();
</script>