@model X.PagedList.PagedList<OscaFramework.Models.Banco>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
<div class="row">
        <div class="col-md-10 ">
            <br />
            <div class="card" id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <form class="form-inline">
                            <table>
                                <tr>
                                    <td>
                                        <h5 style="font-weight:bold">Lista de Bancos: &nbsp;&nbsp;</h5>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <label>
                                                <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateBanco", "Banco", null)'"> <span>Novo</span></button>
                                            </label>
                                            &nbsp;&nbsp;
                                            <span>
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                            </span>
                                            <button type="submit" class="btn btn-info fa fa-search"></button>
                                            &nbsp;&nbsp;
                                            <label>
                                                <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                            </label>&nbsp;&nbsp;
                                            <label>
                                                <button id="osc_voltar" type="button" class="btn btn-info btn-lg fa fa-backward" onclick="history.back();"> <span>Voltar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-hover   table-bordered table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Site</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr style="font-size:12px">
                                    <td><i class="fa fa-1x fa-university"></i></td>
                                    <td>@item.codigo</td>
                                    <td>@item.nome</td>
                                    <td>@item.site</td>
                                </tr>
                            }
                        </table>
                     
                    </div>
                </div>
                <div class="card-footer">
                    <table>
                        <tr>
                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridBanco", "Banco", new { page }))</td>
                            <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
<br /><br /><br /><br /> <br /><br /><br /><br />
<div class="row" style="position:sticky;bottom:35px; padding:10px 0 0 0; background:#fff;">
        <div style="background-color:darkgrey; width:100%; height:10px;"></div>

        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><span class="fa fa-2x fa-cog iconPanel"></span></td>
                            <td><a asp-controller="Paineis" asp-action="PainelOperacional"><h6>Operacional</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><span class="fa fa-2x fa-money iconPanel"></span></td>
                            <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><span class="fa fa-2x fa-handshake-o iconPanel"></span></td>
                            <td><a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-1">
                <div class="card-body">
                    <table>
                        <tr>
                            <td><span class="fa fa-2x fa-wrench iconPanel"></span></td>
                            <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
 