@model OscaApp.ViewModels.OrgConfigViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.orgConfig.id)
</div>

<div class="col-md-12">
    @if (!String.IsNullOrEmpty(Model.StatusMessage))
    {

        <div class="alertPers alert alert-success alert-dismissible alert-dismissiblePers" role="alert">
            <button type="button" class="closePers close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Model.StatusMessage
        </div>
    }
    <form action="FormUpdateOrgConfig" method="post">
        <input id="osc_id" asp-for="orgConfig.id" type="hidden" class="form-control" value="@Model.orgConfig.id" />
        <div class="card" id="osc_MainProduto">
            <div class="card-header bg-warning">
                <div class="card-title">
                    <table>
                        <tr>
                            <td><h3>Alterar dados:&nbsp;&nbsp;</h3></td>
                            <td>
                                <div id="osc_barrabotoes">
                                    <label>
                                        <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-1x fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                    </label>
                                    <label>
                                        <button id="osc_fechar" type="button" class="btn btn-info  btn-sm fa fa-1x fa-close" value="Fechar" onclick="location.href='@Url.Action("PainelParametros", "Paineis" , null)'"> <span>Fechar</span></button>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
       
            <div class="card" id="osc_MainProduto">
                <div class="card-header">
                    <div class="card-title"></div>
                    <h3>Configurações - Produto</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Margem base do produto</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fa fa-money fa-2x"></span>
                                        </span>
                                    </div>
                                    <input id="osc_margemBaseProduto" asp-for="@Model.orgConfig.margemBaseProduto" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Quantidade Mínima </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fa fa-asterisk fa-2x"></span>
                                        </span>
                                    </div>
                                    <input id="osc_quantidadeMinima" asp-for="@Model.orgConfig.quantidadeMinimaProduto" type="number" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="card" id="osc_MainContasReceber">
                            <div class="card-header">
                                <div class="card-title"></div>
                                <h3>Configurações - Contas Receber</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Quantidade de dias no cartão de crédito</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-credit-card-alt fa-2x"></i></span>
                                                    </div>
                                                    <input id="osc_qtdDiasCartaoCredito" asp-for="@Model.orgConfig.qtdDiasCartaoCredito" class="form-control" type="number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Quantidade de dias no cartão de débito</label>
                                            <div class="inputGroupContainer">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-credit-card fa-2x"></i></span>
                                                    </div>
                                                    <input id="osc_qtdDiasCartaoDebito" asp-for="@Model.orgConfig.qtdDiasCartaoDebito" class="form-control" type="number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="osc_MainCupom">
                            <div class="card-header">
                                <div class="card-title"></div>
                                <h3>Configurações - Impressão Cupom</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cupom - Largura </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-asterisk fa-2x"></span>
                                                    </span>
                                                </div>
                                                <input id="osc_cupomLargura" asp-for="@Model.orgConfig.cupom_largura" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cupom - Altura</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-asterisk fa-2x"></span>
                                                    </span>
                                                </div>
                                                <input id="osc_cupomAltura" asp-for="@Model.orgConfig.cupom_altura" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cupom Fonte Size</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-asterisk fa-2x"></span>
                                                    </span>
                                                </div>
                                                <input id="osc_cupomSize" asp-for="@Model.orgConfig.cupom_fontesize" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Mensagem do cupom</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-comment-o fa-2x"></span>
                                                    </span>
                                                </div>
                                                <textarea id="osc_mensagemCupom" asp-for="@Model.orgConfig.mensagemCupom" class="form-control" rows="4" cols="2" placeholder="..."></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card" id="osc_MainPedidoRetirada">
                            <div class="card-header">
                                <div class="card-title"></div>
                                <h3>Configurações - Pedido Retirada</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Título para a impressão</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-comment-o fa-2x"></span>
                                                    </span>
                                                </div>
                                                <textarea id="osc_tituloImpressao" asp-for="@Model.orgConfig.tituloImpressao" class="form-control" rows="4" cols="2" placeholder="..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Mensagem</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-comment-o fa-2x"></span>
                                                    </span>
                                                </div>
                                                <textarea id="osc_mensagem" asp-for="@Model.orgConfig.mensagemPedido" class="form-control" rows="9" cols="4" placeholder="digite uma mensagem para o pedido"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
</form>
</div>
<br />
<br />
<br />
<br />

