@model X.PagedList.PagedList<OscaFramework.Models.OrdemServico>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}


<script type="text/javascript">

    //Função para tratamento do Lookup padrão do Cliente
    function ConfigLookup(id, name ) {
 
        $("#osc_IdNameOs").val(name);
        $("#osc_IdOs").val(id);

        $('#lookupOS').modal('hide');
    }
</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <div class="card" id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Ordens de Serviço: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <form class="form-inline">
                                      
                                        <div class="form-group  col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                                <span class="input-group-btn ">
                                                    <button type="submit" class="btn btn-info">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <label>
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </label> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                                        <label>
                                            <button type="button" class="close btn btn-info btn-lg" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
                                        </label>

                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Código</th>
                                            <th>Cliente</th>

                                            <th>Status Ordem Servico</th>
                                            <th>Valor</th>


                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.id" onclick="location.href='@Url.Action("FormUpdateOrdemServico", "OrdemServico", new {id = item.id })'">
                                            <td><i class="fa fa-file-text-o"></i></td>
                                            <td>@item.codigo.ToString() </td>
                                            <td>Cliente 1 </td>
                                            <td>@item.statusOrdemServico</td>
                                            <td>@item.valorTotal.ToString("N2")</td>
                                        </tr>
                                    }
                                </table>
                                <div>
                                    <table>
                                        <tr>
                                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridOrdemServico", "OrdemServico", new { page }))</td>
                                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/osc_global.js" asp-append-version="true"></script>
