@model OscaApp.ViewModels.FornecedorViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.Contexto.idOrganizacao)
    @Html.HiddenFor(m => m.Contexto.organizacao)
    @Html.HiddenFor(m => m.Contexto.idUsuario)
    @Html.HiddenFor(m => m.Contexto.nomeUsuario)
    @Html.HiddenFor(m => m.Fornecedor.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8  offset-2">
          
            <form action="FormCreateFornecedor" method="post" id="osc_Mainform">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3>Fornecedor:&nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-floppy-o" value="Salvar"><span>Salvar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info btn-lg fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridFornecedor","Fornecedor", null)'"><span>Fechar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!--col1-->
                        <div class="col-md-4">                         
                            <div class="form-group">
                                <label>Nome do Fornecedor</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-o fa-1x"></i></span>
                                        <input id="osc_nomefornecedor" asp-for="@Model.Fornecedor.nomeFornecedor" placeholder="Nome" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>CNPJ</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-o fa-1x"></i></span>
                                        <input id="osc_cpf" asp-for="@Model.Fornecedor.cnpj" type="text" class="form-control" placeholder="CNPJ" onchange="ValidaCNPJ()" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-1x"></i></span>
                                        <input id="osc_email" asp-for="@Model.Fornecedor.email" placeholder="Email" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>                   
                        <!--col2-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nome do Vendedor</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user-o fa-1x"></i></span>
                                        <input id="osc_nomeVendedor" asp-for="@Model.Fornecedor.nomeVendedor" placeholder="Nome" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Telefone</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-phone fa-1x"></span>
                                    </span>
                                    <input id="osc_telefone" asp-for="@Model.Fornecedor.telefone" type="text" class="form-control" placeholder="(XX) - 000000000" maxlength="15" pattern="[0-9]+$" />
                                </div>
                            </div>                        
                        </div>
                        <!--col3-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Anotação</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-comment-o fa-1x"></span>
                                    </span>
                                    <textarea id="osc_anotacao" asp-for="@Model.Fornecedor.anotacao" class="form-control" rows="9" cols="25" placeholder="digite uma anotação"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Criado Por</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-user fa-1x"></span>
                                </span>
                                <input id="osc_criadoPor" asp-for="@Model.Fornecedor.criadoPorName" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Criado Em</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar fa-1x"></span>
                                </span>
                                <input id="osc_criadoEm" asp-for="@Model.Fornecedor.criadoEm" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-exclamation fa-1x"></span>
                                </span>
                                <input id="osc_status" asp-for="@Model.Fornecedor.status" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
