@model X.PagedList.PagedList< OscaFramework.Models.Recurso>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 offset-1">
            <br />
            <div class="card" id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Recursos: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group col-md-2">
                                            <button id="osc_novo" type="button" class="btn btn-info  fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateRecurso", "Recurso", null)'"> <span>Novo</span></button>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_importar" type="button" class="btn btn-info  fa fa-download" value="Importar"> <span>Importar</span></button>
                                        </div>
                                        <div class="form-group  col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                                <span class="input-group-btn ">
                                                    <button type="submit" class="btn btn-info">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("PainelCadastro", "Paineis", null)'"> <span>Painel Cadastro</span></button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nome</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.id" onclick="location.href='@Url.Action("FormUpdateRecurso", "Recurso", new {id = item.id })'">
                                            <td><i class="fa fa-desktop"></i></td>
                                            <td>@Html.ActionLink(item.codigo.ToString(), "FormUpdateRecurso", new { id = item.id })</td>
                                            <td>@item.nome</td>
                                        </tr>
                                    }
                                </table>
                                <div>
                                    <table>
                                        <tr>
                                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridRecurso", "Recurso", new { page }))</td>
                                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/osc_cliente.js" asp-append-version="true"></script>
<script src="~/js/osc_global.js" asp-append-version="true"></script>
