@model X.PagedList.PagedList<OscaFramework.Models.Cliente>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}


<table class="table table-hover   table-bordered table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Código</th>
            <th>Cliente</th>
            <th>CNPJ/CPF</th>
            <th>Tipo de Pessoa</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr id="@item.id" onclick="ConfigLookup('@item.id.ToString()','@item.nomeCliente.ToString()') " data-dismiss="modal">
            <td><i class="fa  fa-users"></i></td>
            <td>@item.codigo.ToString()</td>
            <td>@item.nomeCliente</td>
            <td>@item.cnpj_cpf</td>
            <td>@item.tipoPessoa</td>

        </tr>
    }
</table>

