@model X.PagedList.PagedList<OscaFramework.Models.Endereco>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
<div class="row">
        <div class="col-md-10 offset-1">
 
            <div class="card  " id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold"> Lista de Endereços do cliente:  @Model[0].idClienteName  &nbsp;</h5>
                                </td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group col-md-2"><button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward fa-1x" value="Voltar" onclick="location.href='@Url.Action("FormUpdateCliente", "Cliente", new {id = @Model[0].idCliente })'"> <span> Voltar</span></button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">                     
                        <div class="row">
                                <table class="table table-hover   table-bordered table-sm">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Logradouro</th>                                          
                                            <th>Tipo de Endereço</th>
                                            <th>Bairro</th>
                                            <th>Estado</th>
                                            <th>Cidade</th>
                                            <th>CEP</th>
                                            <th>Número</th>    
                                            <th>Criado por</th>
                                         
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="cursor:pointer;">
                                            <td>@Html.ActionLink(item.logradouro.ToString(), "FormUpdateEndereco", new { id = item.id })</td>                                         
                                            <td>@item.TipoEndereco</td>
                                            <td>@item.bairro</td>
                                            <td>@item.estado</td>
                                            <td>@item.cidade</td>
                                            <td>@item.cep</td>
                                            <td>@item.numero</td>  
                                            <td>@item.criadoPorName</td>      
                                        </tr>
                                    }
                                </table>
                             
                            </div>
                        </div>
                    <div class="card-footer">
                        <table>
                            <tr>
                                <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridEndereco", "Endereco", new { page }))</td>
                                <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                            </tr>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>