@model List<OscaFramework.Models.Pagamento>
 
@{
    Layout = "_LayoutFrame";
}
 

<div class="card" id="osc_Grid">   
    <div class="card-body">        
        <div class="row">           
                <table class="table table-hover   table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Data Pagamento</th>
                            <th>Tipo Pagamento</th>
                            <th>Valor</th>
                            <th>Lançando Por</th>
                            <th>Lançando Em</th>
                        </tr>
                    </thead>   
                 
                    @foreach (var item in Model)
                    {                   
                        
                    <tr>
                        <td><i class="fa fa-money"></i></td>
                        <td>@item.dataPagamento.ToShortDateString()</td>
                        <td>@item.tipoPagamento</td>
                        <td>R$@item.valor.ToString("N2")</td>
                        <td>@item.criadoPorName</td>
                        <td>@item.criadoEm.ToShortDateString()</td>
                        <td>
                            <div class="form-group col-md-2">
                                <button id="osc_remove" type="button" class="btn btn-danger btn-sm fa fa-remove" value="voltar" onclick="location.href='@Url.Action("DeletePagamento", "Pagamento", new { idPagamento = item.id, idContasReceber = item.idContasReceber})'"> <span>Remover</span></button>
                            </div>
                        </td>
                    </tr>
                        }              
                </table>             
            </div>
        </div>
    </div>
<script> 
    //Preenche variaves do contexto pai para criar um novo Produto do Pedido
  
    var statusContasReceber = window.parent.document.getElementById('osc_statusContaReceber').value;   
    

    if (statusContasReceber == 1) $("input,select, textarea, button").prop("disabled", true);

 

</script>
