@model OscaApp.ViewModels.PedidoViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.cliente.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1">             
            <form action="FormCreatePedido" method="post" id="FormCreatePedido">
                <div class="card " id="osc_MainForm">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3>Pedido:&nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info btn-lg fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridCliente", "Cliente" , null)'"> <span>Fechar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_produtoPedido" type="button" class="btn btn-info btn-lg fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridCliente", "Cliente" , null)'"> <span>Incluir Produto</span></button>
                                            </label>
 
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Código</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_codigo" asp-for="@Model.codigoPedido" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Cliente*</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user-o fa-1x"></span>
                                        </span>
                                        <input id="osc_nome" asp-for="@Model.cliente.nomeCliente" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tipo Pessoa</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-1x"></span>
                                        </span>
                                        <select id="osc_tipopessoa" class="form-control" required="required" onchange="LimpaCNPJ_CPF()">
                                            <option value="1" selected="">Fisica</option>
                                            <option value="2">Juridica</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>CPF/CNPJ</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user-o fa-1x"></span>
                                        </span>
                                        <input id="osc_cnpj_cpf" asp-for="@Model.cliente.cnpj_cpf" type="text" class="form-control" placeholder="CPF ou CNPJ" onchange="ValidaCNPJ_CPF()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Razão Social</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-briefcase fa-1x"></span>
                                        </span>
                                        <input id="osc_razaosocial" asp-for="@Model.cliente.razaoSocial" type="text" class="form-control" placeholder="Razão Social" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-envelope-o fa-1x"></span>
                                        </span>
                                        <input id="osc_email" asp-for="@Model.cliente.email" type="email" class="form-control" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Sexo</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-1x"></span>
                                        </span>
                                        <select id="osc_sexo" asp-for="@Model.cliente.sexo" class="form-control">
                                            <option value="1" selected="">Masculino</option>
                                            <option value="2">Feminino</option>
                                            <option value="3">Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-phone fa-1x"></span>
                                        </span>
                                        <input id="osc_telefone" asp-for="@Model.cliente.telefone" type="text" class="form-control" placeholder="000000000" maxlength="15" pattern="[0-9]+$" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Celular</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-mobile-phone fa-1x"></span>
                                        </span>
                                        <input id="osc_celular" asp-for="@Model.cliente.celular" type="text" class="form-control" placeholder="000000000" maxlength="15" pattern="[0-9]+$" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Anotação</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-comment-o fa-1x"></span>
                                        </span>
                                        <textarea id="osc_anotacao" asp-for="@Model.cliente.anotacao" class="form-control" rows="15" cols="40" placeholder="digite uma anotação"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Criado Por</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                                <input id="osc_criadoPor"  asp-for="@Model.cliente.criadoPorName" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Criado Em</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar fa-1x"></span>
                                </span>
                                <input id="osc_criadoEm" asp-for="@Model.cliente.criadoEm" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-exclamation fa-1x"></span>
                                </span>
                                <input id="osc_status" asp-for="@Model.cliente.status" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/js/osc_cliente.js" asp-append-version="true"></script>*@
