@model OscaApp.ViewModels.AgendamentoViewModel
@{
    Layout = "_LayoutFrame";
} 

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
</div>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <form asp-controller="Agendamento" asp-action="FormStatusAgendamento" method="post" id="FormStatusAgendamento">
                <input asp-for="@Model.agendamento.id" class="form-control" type="hidden" id="osc_agendamenotId" value="@Model.agendamento.id">

                <div class="card" id="osc_MainForm">
                    <div class="card-header">
                        <div class="card-title ">
                            <table>
                                <tr>
                                    <td><h3>Alteração de Status do Agendamento: &nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-floppy-o" value""> <span>Salvar e Fechar</span></button>
                                            </label>                                       
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 offset-3">
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Status do Agendamento</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-2x"></i></span>
                                            <select id="osc_statusAgendamento" asp-for="@Model.agendamento.statusAgendamento class="form-control" required="required">
                                                <option value="0">Agendado</option>
                                                <option value="1">Concluído</option>
                                                <option value="2">Cancelado</option>
                                                
                                            </select>                                                                              
                                        </div>
                                    </div>
                                </div>                            
                            </div>                          
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>