@model X.PagedList.PagedList<OscaApp.ViewModels.GridViewModels.AgendamentoGridViewModel>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using OscaFramework.Helper;
@{
    Layout = "_LayoutFrame";
}

<div class="card" id="osc_Grid">
    <div class="card-header">
        <div class="card-title">
            <center><h5 style="font-weight:bold"> <a asp-controller="Agendamento" asp-action="GridAgendamento">Agendamentos de Hoje</a></h5></center>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-hover   table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Código</th>
                        <th>Tipo</th>
                        <th>Início</th>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr style="cursor:pointer;" id="@item.agendamento.id" onclick="location.href='@Url.Action("FormUpdateAgendamento", "Agendamento", new {id = item.agendamento.id })'">
                        <td><i class="fa fa-calendar-times-o"></i></td>
                        <td style="font-size:12px;font-weight:bold">@Html.ActionLink(item.agendamento.codigo.ToString(), "FormUpdateAgendamento", new { id = item.agendamento.id })</td>
                        <td style="font-size:12px;font-weight:bold">@item.agendamento.tipoReferencia</td>
                        <td style="font-size:12px;font-weight:bold">@HelperCalendario.RetornaHoraFormatada(Convert.ToInt32(item.horaInicio.horaDia))</td>
                    </tr>
                }
            </table>
         
        </div>
    </div>
    <div class="card-footer">
        <table>
            <tr>
                <td><h6>  Total:@Model.TotalItemCount</h6></td>
            </tr>
        </table>
    </div>
</div>


