@model OscaApp.ViewModels.ProdutoPedidoViewModel
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}
<script>
  

    function CarregaLookupProdutoPedido() {

        $("#lookupProdutoPedido").load("/ItemListaPreco/LookupProdutoPedido?idListaPreco=" + '@Model.produtoPedido.idListaPreco' + '&Page=0' + '', function () {
            $("#lookupProdutoPedido").modal("show");
            });
    }
     function ConfigLookup(id, name, valor) {

        $("#osc_valor").val(valor);
        $("#osc_IdNameProduto").val(name);
        $("#osc_IdProduto").val(id);

        //$('#lookupProduto').on('hidden', function () { $(this).empty(); });
    }
     function CarregaGrid() {
         $("#grid").val("");

        $.ajax("/itemListaPreco/GridLookupProdutoPedido?idListaPreco=" + '@Model.produtoPedido.idListaPreco').done(function (data) {
            $("#GridProdutoPedido").html(data);
        });

    }
    function CarregaGridFiltro() {

        var filtro = $("#grid").val();

        $.ajax("/itemListaPreco/GridLookupProdutoPedido?filtro=" + filtro + '&idListaPreco=@Model.produtoPedido.idListaPreco').done(function (data) {
            $("#GridProdutoPedido").html(data);
        });

     }
      function CarregaGridPagina(page) {

        $.ajax("/itemListaPreco/GridLookupProdutoPedido?Page=" + page + '&idListaPreco=@Model.produtoPedido.idListaPreco').done(function (data) {
            $("#GridProdutoPedido").html(data);
        });

    }
  

</script>

 
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <form asp-controller="ProdutoPedido" asp-action="FormCreateProdutoPedido" method="post" id="FormCreateProdutoPedido">
                <input asp-for="produtoPedido.idPedido" class="form-control" type="hidden" id="osc_pedidoId" value="@Model.produtoPedido.idPedido">

                <div class="card" id="osc_MainForm">
                    <div class="">
                        <table>
                            <tr>
                                <td><h5>Produto do Pedido: &nbsp;&nbsp;</h5></td>
                                <td>
                                    <div id="osc_barrabotoes">
                                        <label>
                                            <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-floppy-o" value""> <span>Salvar e Fechar</span></button>
                                        </label>&nbsp;
                                        <label>
                                            <button id="osc_fechar" type="button" class="btn btn-info btn-sm fa fa-close" value"" data-dismiss="modal"> <span>Fechar</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 offset-1">
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Produto*</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produto.idName" class="form-control" type="text" id="osc_IdNameProduto" required="required" disabled="disabled">
                                            <input asp-for="@Model.produto.id" class="form-control" type="hidden" id="osc_IdProduto">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Quantidade</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.quantidade" class="form-control" type="text" id="osc_quantidade" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Valor</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.valor" class="form-control" type="text" id="osc_valor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Tipo de Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-1x"></span>
                                        </span>
                                        <select id="osc_tipoDesconto" asp-for="@Model.produtoPedido.tipoDesconto" class="form-control" onchange="Onchage_ProdutoPedidoTipoDesconto();">
                                            <option value="1">Valor</option>
                                            <option value="2">Percentual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Valor Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-money fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoMoney" asp-for="@Model.produtoPedido.valorDescontoMoney" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>% Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calculator fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoPercentual" asp-for="@Model.produtoPedido.valorDescontoPercentual" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <table>
                        <tr>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group ">
                                        <label style="font-weight:bold">Pesquisa de Produtos:&nbsp;&nbsp;</label>
                                        <div class="input-group">
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "...", id = "grid" })
                                            <span class="input-group-btn ">
                                                <button type="button" class="btn  btn-info" onclick="CarregaGridFiltro();">
                                                    <span class="fa fa-search fa-1x"></span>
                                                </button>
                                            </span>
                                        </div>&nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="button" class="btn btn-info btn-lg  fa fa-remove" value="Limpar" onclick="CarregaGrid()"> <span>Limpar</span></button>
                                        </label>
                                        &nbsp;

                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    </table>
                    <div id="GridProdutoPedido">
                    </div>
                    <div id="paginacao">
                        <table>
                            <tr>
                                <td style="width:75%">@Html.PagedListPager((IPagedList)Model.produtos, page => Url.Action("GridProduto", "Produto", new { page })) Total:@Model.produtos.TotalItemCount</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 
<script>

    //OnLoad_ProdutoPedido();
    CarregaGrid();

    $('#grid').keypress(function (e) {
        var code = null;
        code = (e.keyCode ? e.keyCode : e.which);
        return (code == 13) ? false : true;
    });


    $('#paginacao').on('click', 'a', function (e) {

        e.preventDefault();
        CarregaGridPagina(this.text);

    });

    function Onchage_ProdutoPedidoTipoDesconto() {
     

        var tipo = document.getElementById("osc_tipoDesconto");
        var descontoValor = document.getElementById("osc_valorDescontoMoney");
        var descontoPercentual = document.getElementById("osc_valorDescontoPercentual");

        if (tipo.value == 1) {

            $("#osc_valorDescontoPercentual").prop('disabled', true);
            $("#osc_valorDescontoMoney").prop('disabled', false);
            descontoPercentual.value = "0";

           
            document.getElementById('osc_valorDescontoPercentual').value = '80';

        }

        if (tipo.value == 2) {

            $("#osc_valorDescontoPercentual").prop('disabled', false);
            $("#osc_valorDescontoMoney").prop('disabled', true);
            descontoValor.value = "0";

        }
    }

</script>

