@model OscaApp.ViewModels.ProdutoPedidoViewModel
@{
    Layout = "_LayoutFrame";
}
<script>
      function CarregaLookupProdutoPedido() {

          $("#lookupProdutoPedido").load("/ItemListaPreco/LookupProdutoPedido?idListaPreco=" + '@Model.produtoPedido.idListaPreco' + '&Page=0' + '', function () {
            $("#lookupProdutoPedido").modal("show");
            });
         }

</script>

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
</div>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <form asp-controller="ProdutoPedido" asp-action="FormCreateProdutoPedido" method="post" id="FormCreateProdutoPedido">
                <input asp-for="produtoPedido.idPedido" class="form-control" type="hidden" id="osc_pedidoId" value="@Model.produtoPedido.idPedido">

                <div class="card" id="osc_MainForm">
                     
                        <table>
                            <tr>
                                <td><h5>Produto do Pedido: &nbsp;&nbsp;</h5></td>
                                <td>
                                    <div id="osc_barrabotoes">
                                        <label>
                                            <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-floppy-o" value""> <span>Salvar e Fechar</span></button>
                                        </label>&nbsp;
                                        <label>
                                            <button id="osc_fechar" type="button" class="btn btn-info btn-sm fa fa-close" value"" data-dismiss="modal"> <span>Fechar</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5 offset-1">
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Produto*</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produto.idName" class="form-control" type="text" id="osc_IdNameProduto" required="required" disabled="disabled">
                                            <input asp-for="@Model.produto.id" class="form-control" type="hidden" id="osc_IdProduto">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Quantidade</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.quantidade" class="form-control" type="text" id="osc_quantidade" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Valor</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.valor" class="form-control" type="text" id="osc_valor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Tipo de Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-1x"></span>
                                        </span>
                                        <select id="osc_tipoDesconto" asp-for="@Model.produtoPedido.tipoDesconto" class="form-control" onchange="Onchage_ProdutoPedidoTipoDesconto();">
                                            <option value="1">Valor</option>
                                            <option value="2">Percentual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Valor Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-money fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoMoney" asp-for="@Model.produtoPedido.valorDescontoMoney" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>% Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calculator fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoPercentual" asp-for="@Model.produtoPedido.valorDescontoPercentual" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="~/lib/OscaJs/osc_produtoPedido.js"></script>
<script>
    debugger;
    OnLoad_ProdutoPedido();
</script>
