@model OscaApp.ViewModels.ProdutoPedidoViewModel
@{
    Layout = "_LayoutFrame";
}

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
</div>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <form  asp-controller="ProdutoPedido"  asp-action="FormCreateProdutoPedido" method="post" id="FormCreateProdutoPedido">
                <input asp-for="produtoPedido.idPedido" class="form-control" type="hidden" id="osc_pedidoId" value="@Model.produtoPedido.idPedido"> 
                
                <div class="card" id="osc_MainForm">
                    <div class="card-header">
                        <div class="card-title ">
                            <table>
                                <tr>
                                    <td><h3>Produto do Pedido: &nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info btn-lg fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("FormUpdateProdutoPedido", "ProdutoPedido" , null)'"> <span>Fechar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Produto*</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produto.idName" class="form-control" type="text"     id="osc_produtoIdName"  required="required" >
                                            <span class="input-group-btn ">
                                                <button type="button" class="btn btn-info" onclick="CarregaLookupProdutoPedido()">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </span>
                                            <input asp-for="@Model.produto.id" class="form-control" type="hidden"   id="osc_produtoId"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Quantidade</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.quantidade" class="form-control" type="text" id="osc_quantidade">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Valor</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.valor" class="form-control" type="text" id="osc_valor" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-1x"></span>
                                        </span>
                                        <select id="osc_tipoDesconto" asp-for="@Model.produtoPedido.tipoDesconto" class="form-control">
                                            <option value="1" selected="">Valor</option>
                                            <option value="2">Percentual</option>
                                        </select>
                                    </div>
                                </div>   
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Valor com Desconto</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produtoPedido.valorDesconto" class="form-control" type="text" id="osc_valorDesconto" disabled="disabled" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md3"   >
                                <div class="form-group">
                                    <label>Valor Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calculator fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoMoney" asp-for="@Model.produtoPedido.valorDescontoMoney" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>% Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calculator fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoPercentual" asp-for="@Model.produtoPedido.valorDescontoPercentual" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="lookupProdutoPedido">
</div>
<script>
    function CarregaLookupProdutoPedido() {

        $("#lookupProdutoPedido").load("/ItemListaPreco/LookupProdutoPedido?id=" + '@Model.produtoPedido.idListaPreco' + '&Page=0', function () {
            $("#lookupProdutoPedido").modal("show");
        });
    }

</script>