@model X.PagedList.PagedList< OscaFramework.Models.ProdutoPedido>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}
<div id="contexto">
    <input type="hidden" value="@if (Model.Count > 0) {@Model[0].idPedido}" id="idPedido" />
    <input type="hidden" value="@if (Model.Count > 0) { @Model[0].idListaPreco}" id="idListaPreco" />
</div>

<script>
    function CarregaProdutoPedido() {
        $("#ModalProdutoPedido").load("/ProdutoPedido/FormCreateProdutoPedido?idPedido=" + idPedido + "&idListaPreco=" + idListaPreco, function () {
            $("#ModalProdutoPedido").modal("show");
            });
        }

       function CarregaProdutoPedidoUpdate(id) {
           $("#ModalProdutoPedido").load("/ProdutoPedido/FormUpdateProdutoPedido?idProdutoPedido=" + id, function () {
            $("#ModalProdutoPedido").modal("show");
        });
    }

</script>
<div class="card" id="osc_Grid">
    <div class="card-header">
        <div class="card-title">
            <table>
                <tr>
                    <td>
                        <h5 style="font-weight:bold">Produtos do Pedido: &nbsp;&nbsp;</h5>
                    </td>
                    <td>
                        <div class="form-group col-md-2">
                            <button id="osc_novoProduto" type="button" class="btn btn-info  fa fa-plus" value="Novo" onclick="CarregaProdutoPedido()"> <span>Novo</span></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-body">        
        <div class="row">
            <div class="col-md-11">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Código Produto</th>
                            <th>Nome Produto</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                            <th>Total</th>
                            <th>Desconto</th>
                            <th>Total Geral</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>    
                    @{
                        int qtd = 0;
                        decimal desconto = 0;
                        decimal totalGeral = 0;
                        decimal total = 0;


                        }
                    @foreach (var item in Model)
                    {
                        qtd      += item.quantidade;
                        total += item.total;
                        desconto += item.valorDesconto;
                        totalGeral += item.totalGeral;


                        <tr>
                            <td>1010</td>
                            <td>TESTE</td>
                            <td>@item.quantidade</td>                                        
                            <td>@item.valor.ToString("N2")</td>
                            <td>@item.total.ToString("N2")</td>
                            <td>@item.valorDesconto.ToString("N2")</td>
                            <td>@item.totalGeral.ToString("N2")</td>
                            <td>
                                <div class="form-group col-md-2">
                                    <button id="osc_edit" type="button" class="btn btn-success btn-sm fa fa-edit" value="voltar"  onclick="CarregaProdutoPedidoUpdate('@item.id')"> <span>Editar</span></button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-2">
                                    <button id="osc_remove" type="button" class="btn btn-danger btn-sm fa fa-remove" value="voltar" onclick="location.href='@Url.Action("DeleteProdutoPedido", "ProdutoPedido", new { idProdutoPedido = Model[0].id, idPedido = Model[0].idPedido })'"> <span>Remover</span></button>
                                </div>
                            </td>
                        </tr>
                        }
                    <tfoot id="osc_tableFooterProdutoPedido">
                        <tr style="background-color:gray; color:white ; font-size:20px">
                            <td></td>
                            <td></td>
                            <td>@qtd</td>
                            <td></td>                       
                            <td>R$@total.ToString("N2")</td>
                            <td>R$@desconto.ToString("N2")</td>
                            <td style="font-weight:bold">R$@totalGeral.ToString("N2")</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div>
                    <table>
                        <tr>
                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridPedido", "Pedido", new { page }))</td>
                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalProdutoPedido">
</div>
<script> 
    //Preenche variaves do contexto pai para criar um novo Produto do Pedido
    var idListaPreco = window.parent.document.getElementById('osc_idListaPreco').value;
    var idPedido = window.parent.document.getElementById('osc_id').value;  
    var statusPedido = window.parent.document.getElementById('osc_statusPedido').value;   
    

    if (statusPedido == 2 || statusPedido == 5) $("input,select, textarea, button").prop("disabled", true);

 

</script>
