@model X.PagedList.PagedList<OscaFramework.Models.LookupItemLista>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

@{
    Layout = "_LayoutFrame";
}

<table class="table table-hover   table-sm">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Código</th>
            <th>Produto</th>
            <th>Forma</th>
            <th>Valor</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr style="cursor:pointer;" id="@item.produto.id" value="@item.produto.nome" onclick="ConfigLookup('@item.produto.id.ToString()','@item.produto.nome.ToString()','@item.itemlistaPreco.valor.ToString("N2")')">
            <td><i class="fa fa-shield"></i></td>
            <td>@item.produto.codigo.ToString()</td>
            <td>@item.produto.nome</td>
            <td>@item.produto.formaVendaProduto</td>
            <td>@item.itemlistaPreco.valor.ToString("N2")</td>
        </tr>
    }
</table>




