@model X.PagedList.PagedList<OscaFramework.Models.LookupItemLista>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

@{
    Layout = "_LayoutFrame";
}


<script type="text/javascript">
 
    function ConfigLookup(id, name, valor) {
    
        $("#osc_valor").val(valor);
        $("#osc_IdNameProduto").val(name);
        $("#osc_IdProduto").val(id);               
     
        $('#lookupProduto').modal('hide');
    }
</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">    
        <div class="modal-body">            
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Lista de Produtos: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group col-md-2">
                                            <button id="osc_novo" type="button" class="btn btn-sm btn-info  fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateProduto", "Produto", null)'"> <span>Novo</span></button>
                                        </div>

                                        <div class="form-group  col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                                <span class="input-group-btn ">
                                                    <button type="submit" class="btn btn-info">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </div>                                         
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Código</th>
                                            <th>Produto</th>
                                            <th>Forma</th>
                                            <th>Valor</th>
                                             
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.produto.id" value="@item.produto.nome" onclick="ConfigLookup('@item.produto.id.ToString()','@item.produto.nome.ToString()','@item.itemlistaPreco.valor.ToString("N2")')">
                                            <td><i class="fa fa-shield"></i></td>
                                            <td>@item.produto.codigo.ToString()</td>
                                            <td>@item.produto.nome</td>
                                            <td>@item.produto.formaVendaProduto</td>
                                            <td>@item.itemlistaPreco.valor.ToString("N2")</td>
                                        </tr>
                                    }
                                </table>
                                <div>
                                    <table>
                                        <tr>
                                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridProduto", "Produto", new { page }))</td>
                                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<script src="~/js/osc_global.js" asp-append-version="true"></script>