@model OscaApp.ViewModels.AtividadeViewModel
<script>
    function CarregaLookupProfissional() {

        $("#lookupProfissional").load("/Profissional/LookupProfissional", function () {
            $("#lookupProfissional").modal("show");
        });
    }
     function CarregaFormStatusAtividade() {
        $("#ModalStatusAtividade").load("/Atividade/FormStatusAtividade?id=" + '@Model.atividade.id' , function () {
            $("#ModalStatusAtividade").modal("show");
        });
    }
</script>

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.atividade.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1">
            <form action="FormUpdateAtividade" method="post" id="FormUpdateAtividade">
                <div class="card " id="osc_MainForm">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3>Atividade:&nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg btn-sm fa fa-1x fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info  btn-lg btn-sm fa fa-1x fa-close" value="Fechar" onclick="location.href='@Url.Action("GridAtividade", "Atividade" , null)'"> <span>Fechar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_novo" type="button" class="btn btn-info  btn-lg btn-sm fa fa-1x fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateAtividade", "Atividade", null)'"> <span>Novo</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_reabrir" type="button" class="btn btn-info btn-sm fa fa-close" value="" onclick="CarregaFormStatusAtividade()"> <span>Reabrir</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_excluir" type="button" class="btn btn-info btn-sm fa fa-remove" value=""> <span>Excluir</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <input id="osc_id" asp-for="atividade.id" type="hidden" class="form-control" value="@Model.atividade.id" />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Assunto </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-2x"></span>&nbsp;
                                        </span>
                                        <input id="osc_nome" asp-for="@Model.atividade.assunto" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tipo</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-2x"></span>&nbsp;
                                        </span>
                                        <select id="osc_tipoAtividade" asp-for="@Model.atividade.tipo" class="form-control" required="required">
                                            <option value="1" selected="">tarefa</option>
                                            <option value="2">telefonema</option>
                                            <option value="3">serviço</option>
                                            <option value="4">cobrança</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Data Alvo </label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></span>&nbsp;
                                            <input asp-for="@Model.atividade.dataAlvo" class="form-control" type="text" id="osc_dataAlvo" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Proprietário</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>&nbsp;
                                            <input asp-for="@Model.profissional.idName" class="form-control" type="text" id="osc_IdNameProfissional" required="required">
                                            <input asp-for="@Model.profissional.id" class="form-control" type="hidden" id="osc_IdProfissional">
                                            <span class="input-group-btn ">
                                                <button type="button" class="btn btn-info" onclick="CarregaLookupProfissional()" id="osc_botaoBuscaProfissional">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Status</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-exclamation fa-2x"></span>&nbsp;
                                        </span>
                                        &nbsp;
                                        <select id="osc_statusAtividade" class="form-control" required="required" asp-for="@Model.atividade.statusAtividade" style="background-color:aquamarine">
                                            <option value="0" selected="">Aberta</option>
                                            <option value="1">Concluída</option>
                                            <option value="2">Cancelada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Data Fechamento</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></span>&nbsp;
                                            <input asp-for="@Model.atividade.dataFechamento" class="form-control" type="date" id="osc_dataFechamento" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-2x"></span>&nbsp;
                                        </span>
                                        <textarea id="osc_descricao" asp-for="@Model.atividade.descricao" class="form-control" rows="7" cols="40" placeholder="descreva a atividade"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Criado Por</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-user"></span>
                                            </span>
                                            <input id="osc_criadoPor" asp-for="@Model.atividade.criadoPorName " type="text" class="form-control" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Criado Em</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar fa-1x"></span>
                                            </span>
                                            <input id="osc_criadoEm" asp-for="@Model.atividade.criadoEm " type="text" class="form-control" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Modificado Por</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-user"></span>
                                            </span>
                                            <input id="osc_modificadoPor" asp-for="@Model.atividade.modificadoPorName " type="text" class="form-control" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Modificado Em</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar fa-1x"></span>
                                            </span>
                                            <input id="osc_modificadoEm" asp-for="@Model.atividade.criadoEm" type="text" class="form-control" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="lookupProfissional">
</div>
<div class="modal fade" id="ModalStatusAtividade">
</div>
<script src="~/lib/OscaJs/osc_global.js"></script>
<script src="~/lib/OscaJs/osc_atividade.js"></script>

<script>
    OnLoad_Atividade();
</script>