@model OscaApp.ViewModels.ProdutoViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.produto.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <br /><br />
            <form action="FormUpdateProduto" method="post">
                <div class="card  " id="osc_MainForm">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3>Cliente:&nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-1x fa-floppy-o" value="Salvar"> <span>Salvar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info  btn-lg fa fa-1x fa-close" value="Fechar" onclick="location.href='@Url.Action("GridCliente", "Cliente" , null)'"> <span>Fechar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_novo" type="button" class="btn btn-info  btn-lg fa fa-1x fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateCliente", "Cliente", null)'"> <span>Novo</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_status_inativa" type="button" class="btn btn-info btn-lg fa fa-ban fa-1x" value="Inativar"> <span>Inativar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_status_Ativar" type="button" class="btn btn-info btn-lg fa fa-check-circle-o fa-1x" value="Ativar"> <span>Ativar</span></button>
                                            </label>
                                            <label>
                                                <button id="osc_status_Deletar" type="button" class="btn btn-info btn-lg fa fa-times-circle-o fa-1x" value="Deletar"> <span>Deletar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <input id="osc_id" asp-for="produto.id" type="hidden" class="form-control" value="@Model.produto.id" />

                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="@Model.produto.codigo">Código</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_codigo" asp-for="@Model.produto.codigo" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.nome">Nome*</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_nome" asp-for="@Model.produto.nome" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.formaVendaProduto">Forma de Venda</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <select id="osc_formavenda" asp-for="@Model.produto.formaVendaProduto" class="form-control" required="required">
                                            <option value="1" selected="">Unidade</option>
                                            <option value="2">Peso</option>
                                            <option value="3">Hora</option>
                                            <option value="4">Taxa</option>
                                            <option value="5">Aluguel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.quantidade">Quantidade</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_quantidade" asp-for="@Model.produto.quantidade" type="text" class="form-control" placeholder="Quantidade" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.valorCompra">Valor de Compra</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_razaosocial" asp-for="@Model.produto.valorCompra" type="text" class="form-control" placeholder="Valor de compra" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="@Model.produto.largura">Largura</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_largura" asp-for="@Model.produto.largura" type="text" class="form-control" placeholder="Largura" pattern="[0-9]+$" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.altura">Altura</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_altura" asp-for="@Model.produto.altura" type="text" class="form-control" placeholder="Altura" pattern="[0-9]+$" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.produto.peso">Peso</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_peso" asp-for="@Model.produto.peso" type="text" class="form-control" placeholder="Peso" maxlength="15" pattern="[0-9]+$" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.area">Area</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_area" asp-for="@Model.produto.area" type="text" class="form-control" placeholder="Area" maxlength="15" pattern="[0-9]+$" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label asp-for="@Model.produto.codigoFabricante">Código do Fabricante</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_codigoFabricante" asp-for="@Model.produto.codigoFabricante" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.fabricante">Peso</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <input id="osc_fabricante" asp-for="@Model.produto.fabricante" type="text" class="form-control" placeholder="Fabrincante" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.produto.descricao">Descrição</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-asterisk fa-1x"></span>
                                        </span>
                                        <textarea id="osc_descricao" asp-for="@Model.produto.descricao" class="form-control" rows="7" cols="40" placeholder="digite uma descrição do Produto"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="@Model.cliente.criadoPorName">Criado Por</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-user"></span>
                                </span>
                                <input id="osc_criadoPor" asp-for="@Model.cliente.criadoPorName" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="@Model.cliente.criadoEm">Criado Em</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input id="osc_criadoEm" asp-for="@Model.cliente.criadoEm" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="@Model.cliente.status">Status</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-exclamation"></span>
                                </span>
                                <input id="osc_status" asp-for="@Model.cliente.status" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <br />
            <br />
            <div class="card card-success" id="osc_endereco">
                <div class="card-header card-success">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td><h5>Endereços:&nbsp;</h5></td>
                                <td>
                                    <div id="barra_acoes_endereco">
                                        <label>
                                            <button id="osc_endereco" type="button" class="btn btn-info btn-lg fa fa-1x fa-plus" value="Novo Endereço" onclick="location.href='@Url.Action("FormCreateEndereco", "Endereco", new { idCliente = @Model.cliente.id, NomeCliente = @Model.cliente.nomeCliente })'"> <span>Novo</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Logradouro</th>
                                <th>Cep</th>
                                <th>Bairro</th>
                                <th>Cidade</th>
                                <th>Tipo de endereço</th>
                            </tr>
                        </thead>
 

                    </table>
                </div>
            </div>
            @*<div class="card card-success" id="osc_contato">
                    <div class="card-heading">
                        <div class="card-title"> Contatos</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>E-mail</th>
                                </tr>
                            </thead>
                            <tr><td>Sergio Mende Junior</td><td>99565589</td><td>teste@ig.com.br</td></tr>
                            <tr><td>Mende Junior</td><td>99565589</td><td>teste@ig.com.br</td></tr>
                            <tr><td> Junior</td><td>99565589</td><td>teste@ig.com.br</td></tr>
                        </table>
                    </div>
                </div>
                <div class="card card-success" id="osc_servicos">
                    <div class="panel-heading">
                        <div class="card-title">Ordens de Serviço</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Valor</th>
                                    <th>Data de entrega</th>
                                </tr>
                            </thead>
                            <tr><td>Troca de placa</td><td>320,00</td><td>10/12/2018</td></tr>

                        </table>
                    </div>
                </div>*@
        </div>

    </div>
</div>

<script src="~/js/osc_cliente.js" asp-append-version="true">

    //Carrega as regras do Form
    Onload();




</script>
