@model X.PagedList.PagedList<OscaFramework.Models.Produto>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

<div class="row">
    <div class="col-md-12">        
        <div class="card  " id="osc_Grid">
            <div class="card-header">
                <div class="card-title">
                    <form class="form-inline">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Lista de Produtos: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <label>
                                            <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateProduto", "Produto", null)'"> <span>Novo</span></button>
                                        </label>
                                        &nbsp;&nbsp;
                                        <span>
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                        </span>
                                        <button type="submit" class="btn btn-info fa fa-search"></button>
                                        &nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("PainelCadastro", "Paineis", null)'"> <span>Painel Cadastro</span></button>
                                        </label>&nbsp;&nbsp;

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover   table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Qtd</th>
                                <th>Tipo de Venda</th>
                                <th>Fabricante</th>
                                <th>Modelo</th>
                                <th>Valor de Compra</th>
                                <th>Criado Por</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        <tr style="cursor:pointer;font-size:12px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateProduto", "Produto", new {id = item.id })'">
                            <td><i class="fa fa-cubes"></i></td>
                            <td>@Html.ActionLink(item.codigo.ToString(), "FormUpdateProduto", new { id = item.id })</td>
                            <td>@item.nome</td>
                            <td>@item.quantidade</td>
                            <td>@item.formaVendaProduto</td>
                            <td>@item.fabricante</td>
                            <td>@item.modelo</td>
                            <td>R$ @item.valorCompra.ToString("N")</td>
                            <td>@item.criadoPorName</td>
                        </tr>
                        }
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridProduto", "Produto", new { page }))</td>
                        <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

