@model X.PagedList.PagedList<OscaFramework.Models.Produto>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{int viewContexto = ViewBag.viewContexto; }

<div class="row">
    <div class="col-md-12">
        <div class="card  " id="osc_Grid">
            <div class="card-header" style="height:60px">
                <div class="card-title">
                    <form class="form-inline">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold" class="fa fa-2x fa-cubes"> Lista de Produtos: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>Filtros</label>
                                        <div class="input-group">
                                            &nbsp;<div class="col-2">
                                                <select id="osc_filtro" class="form-control custom-select-sm" required="required" onchange="OnChangeFiltro();" asp-for="@viewContexto">
                                                    <option value="0" selected="">Produtos Ativos</option>
                                                    <option value="1">Produtos Inativos</option>
                                                    <option value="2">Produtos - Quantidade menor ou igual 0</option>
                                                    <option value="3">Produtos - Quantidade menor ou igual ao Mínimo</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="input-group">
                                        <label>
                                            <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateProduto", "Produto", null)'"> <span>Novo</span></button>
                                        </label>
                                        &nbsp;&nbsp;
                                        <span>
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                        </span>
                                        <button type="submit" class="btn btn-info fa fa-search"></button>
                                        &nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("PainelCadastro", "Paineis", null)'"> <span>Painel Cadastro</span></button>
                                        </label>&nbsp;&nbsp;

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover   table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Qtd</th>
                                <th>Qtd Mínima</th>
                                <th>Tipo de Venda</th>
                                <th>Fabricante</th>
                                <th>Modelo</th>
                                <th>Valor de Compra</th>
                                <th>Criado Por</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            string alerta = string.Empty;
                            if (item.quantidade <= 0){ alerta = "badge-warning"; }
                            <tr style="cursor:pointer;font-size:12px" id="item.id" onclick="location.href='@Url.Action("FormUpdateProduto", "Produto", new { id = item.id, view = viewContexto })'" class="@alerta"> 
                                    <td><i class="fa fa-cubes"></i></td>
                                    <td>@Html.ActionLink(item.codigo.ToString(), "FormUpdateProduto", new { id = item.id })</td>
                                    <td>@item.nome</td>
                                    <td>@item.quantidade</td>
                                    <td>@item.quantidadeMinima</td>
                                    <td>@item.formaVendaProduto</td>
                                    <td>@item.fabricante</td>
                                    <td>@item.modelo</td>
                                    <td>R$ @item.valorCompra.ToString("N")</td>
                                    <td>@item.criadoPorName</td>
                                </tr>
                       }
                       </table>

                </div>
            </div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridProduto", "Produto", new { page }))</td>
                        <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div style="height:500px"></div>
<script>

    var url = window.location.search.replace("?", "");
    var items = url.split("&");

    var array = {
        'valor': items[0]
    }

    if (array.valor == "view=0") { $("#osc_filtro").val("0"); }
    if (array.valor == "view=1") { $("#osc_filtro").val("1"); }
    if (array.valor == "view=2") { $("#osc_filtro").val("2"); }
    if (array.valor == "view=3") { $("#osc_filtro").val("3"); }


    function OnChangeFiltro() {

        var filtro = $("#osc_filtro").val();

        if (filtro == "0") { $(window.document.location).attr('href', "GridProduto?view=0"); }
        if (filtro == "1") { $(window.document.location).attr('href', "GridProduto?view=1"); }
        if (filtro == "2") { $(window.document.location).attr('href', "GridProduto?view=2"); }
        if (filtro == "3") { $(window.document.location).attr('href', "GridProduto?view=3"); }

    }

</script>