@model X.PagedList.PagedList<OscaFramework.Models.CategoriaManutencao>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
<div class="row">
    <div class="col-md-12">
      
        <div class="card" id="osc_Grid">
            <div class="card-header">
                <div class="card-title">
                    <form class="form-inline">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Categorias de manutenção: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <span>
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                        </span>
                                        <button type="submit" class="btn btn-info fa fa-search"></button>
                                        &nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </label>&nbsp;&nbsp;
                                        <label>
                                            <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("Painelcadastro", "Paineis", null)'"> <span>Painel de Cadastro</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover   table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr style=" font-size:12px">
                                <td><i class="fa fa-bookmark-o"></i></td>
                                <td>@item.nome.ToString()</td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridCategoriaManutencao", "CategoriaManutencao", new { page }))</td>
                        <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
