@model X.PagedList.PagedList<OscaFramework.Models.CategoriaManutencao>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

@{
    Layout = "_LayoutFrame";
}

<script type="text/javascript">

    function ConfigLookup(id, name) {
        var idObjeto = document.getElementById("osc_idCategoriaManutencao");
        var idName = document.getElementById("osc_IdNameCategoriaManutencao");
        idObjeto.value = id;
        idName.value = name;
        $('#lookupCategoriaManutencao').modal('hide');
    }
</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
        </div>
        <div class="modal-body">
            <div class="card" id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Lista de Categorias de Manutenção: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group  col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                                <span class="input-group-btn ">
                                                    <button type="submit" class="btn btn-info">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </div>                                      
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-hover table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Nome</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.id" value="@item.nome" onclick="ConfigLookup('@item.id.ToString()','@item.nome.ToString()')">
                                            <td><i class="fa fa-bookmark-o"></i></td>
                                            <td>@item.nome</td>
                                        </tr>
                                    }
                                </table>
                                <div>
                                    <table>
                                        <tr>
                                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridCategoriaManutencao", "CategoriaManutencao", new { page }))</td>
                                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>