@model OscaFramework.Models.Faturamento

<div class="row">
    <div class="col-md-11">

        <form>
            <div class="card" id="osc_MainForm">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td><h3>Detalhes do Faturamento:&nbsp;&nbsp;</h3></td>
                                <td>
                                    <div id="osc_barrabotoes">
                                        <label>
                                            <button id="osc_fechar" type="button" class="btn btn-info  btn-sm fa fa-1x fa-close" value="Fechar" data-dismiss="modal"> <span>Fechar</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input id="osc_id" asp-for="@Model.id" type="hidden" class="form-control" value="@Model.id" />
                        <div class="col-md-4 offset-1">
                            <div class="form-group">
                                <label>Data de Faturamento</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>&nbsp;
                                        <input id="osc_codigo" asp-for="@Model.dataFaturamento" class="form-control" type="text" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 offset-1">
                            <div class="form-group">
                                <label>Origem</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group" onclick="OpenReference('@Model.origemFaturamento', '@Model.idReferencia');">
                                        <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>&nbsp;
                                        <input id="osc_origemFaturamento" asp-for="@Model.origemFaturamento" class="form-control" type="text" disabled="disabled" onclick="OpenReference('@Model.origemFaturamento', '@Model.idReferencia');">
                                        <input id="osc_idReferencia" asp-for="@Model.idReferencia" class="form-control" type="hidden" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-1">
                            <div class="form-group">
                                <label>Valor</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-money fa-2x"></i></span>&nbsp;
                                        <input id="osc_valor" class="form-control" type="text" disabled="disabled" value="R$@Model.valor.ToString("N2")">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-4 offset-1">
                            <div class="form-group">
                                <label>Origem</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>&nbsp;
                                        <input id="osc_origemFaturamento" asp-for="@Model.origemFaturamento" class="form-control" type="text" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <br /><br /><br /><br />
            </div>
        </form>
    </div>
</div>
<script>

    function OpenReference(tipo, idRef)
    {

     
        if (tipo == 'Atendimento') { $(window.document.location).attr('href', "/Atendimento/FormUpdateAtendimento?id=" + idRef);}       

        if (tipo == 'OrdemServico') { $(window.document.location).attr('href', "/OrdemServico/FormUpdateOrdemServico?id=" + idRef); }

        if (tipo == 'Pedido') { $(window.document.location).attr('href', "/Pedido/FormUpdatePedido?id=" + idRef);}

        if (tipo == 'BalcaoVendas') { $(window.document.location).attr('href', "/BalcaoVendas/BalcaoVendasView?id=" + idRef);}

    }


</script>
