@model List<OscaApp.ViewModels.GridViewModels.FaturamentoGridViewModel>

 
<div class="row">
    <div class="col-md-11">   
        <div class="card" id="osc_Grid">
            <div class="card-header">
                <div class="card-title">
                    <form class="form-inline" method="post">
                        <div class="form-group mb-2">
                            <label for="osc_titulo" style="font-weight:bold">Pesquisar Faturamento</label>

                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" id="osc_DataInicio" placeholder="Data Início" name="datainicio" required="required" autocomplete="off">
                            &nbsp;
                            <input type="text" class="form-control" id="osc_DataFim" placeholder="Data Fim" name="datafim" required="required" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">PESQUISAR</button>                      
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover   table-bordered table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th>Código Referencia</th>
                                    <th>Origem</th>
                                    <th>Data Faturamento</th>

                                    <th>Valor</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ decimal total = 0; }
                                @foreach (var item in Model)
                                {
                                     
                                    total += item.faturamento.valor;
                                <tr style="cursor:pointer;font-size:12px" id="@item.faturamento.id" onclick=" CarregaFormFaturamentoView('@item.faturamento.id')">
                                    <td><i class="fa fa-money"></i></td>
                                    <td>@item.codigo</td>
                                    <td>@item.faturamento.origemFaturamento</td>
                                    <td>@item.faturamento.dataFaturamento.ToShortDateString()</td>
                                    <td>R$@item.faturamento.valor.ToString("N2")</td>
                                    <td>@item.faturamento.status</td>
                                </tr>
                                }
                            </tbody>
                                             
                       
                        </table>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <table>
                   
                    <tr style="font-weight:bold"><td style="width:50px">QTD:@Model.Count</td><td>Total:</td><td>R$ @total.ToString("N2")</td></tr>

                   
                </table>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /> <br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="row" style="position:sticky;bottom:35px; padding:10px 0 0 0; background:#fff;">
    <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h4>Financeiro</h4></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-handshake-o iconPanel" aria-hidden="true"></i>
                        </td>
                        <td>
                            <a asp-controller="Paineis" asp-action="PainelVendas"><h4>Vendas</h4></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-wrench iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Paineis" asp-action="PainelServico"><h4>Serviços</h4></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-cog iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Paineis" asp-action="PainelConfiguracoes"><h4>Configurações</h4></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalFaturamentoView">
</div>
<script src="~/lib/OscaJs/osc_global.js"></script>
<script>
    //Configura calendario
    Calendario("#osc_DataInicio");
    Calendario("#osc_DataFim");

     function CarregaFormFaturamentoView(idFaturamento) {
        $("#ModalFaturamentoView").load("/Faturamento/FormViewFaturamento?id=" + idFaturamento, function () {
            $("#ModalFaturamentoView").modal("show");
        });
    }

</script>
