@model OscaFramework.Models.Calendario
 

<form action="Mes" method="post">
    <div class="row" id="barrafiltro">
        <div class="col-11 ">
            <div class="form-inline ">
                <div class="col-2 form-group">
                    <label style="font-weight:bold; font-size:30px">Mês: </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-list-ul fa-1x"></span>
                        </span>
                        <select id="osc_mes" class="form-control" asp-for="@Model.mes">
                            <option value="1" selected="">Janeiro</option>
                            <option value="2">Feverreiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                </div>
                <div class="col-2 form-group">
                    <label style="font-weight:bold; font-size:30px">&nbsp;Ano:&nbsp; </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-list-ul fa-1x"></span>
                        </span>
                        <select id="osc_ano" class="form-control" asp-for="@Model.ano">
                            <option value="2018" selected="">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                </div>
                <div class="col-5 form-group">
                    <label style="font-weight:bold; font-size:30px">&nbsp;Profissional:&nbsp; </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-list-ul fa-1x"></span>
                        </span>
                        <select id="osc_ano" class="form-control" asp-for="@Model.ano">
                            <option value="2018" selected="">Ronaldo Bernardo</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                        <div class="input-group">
                            <button id="osc_filtro" type="submit" class="btn btn-info btn-lg fa fa-exclamation-circle" value="filtro"> <span>Aplicar</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-2 form-group">
                    <label style="font-weight:bold; font-size:25px">&nbsp;Legenda:<span style="font-size:20px; color:aqua">Agendado, </span><span style="font-size:20px; color:orangered">Cancelado</span> &nbsp;&nbsp;<button id="osc_painelServico" style="font-size:20px;" type="button" class="btn btn-info btn-lg fa fa-backward" onclick="location.href='@Url.Action("PainelServico", "Paineis", null)'"> <span>Voltar</span></button></label>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <table id="calendario" class="table table-bordered  ">
            <tr id="semana_1">
                <td id="dia_1" style="width:100px">
                    <table style="font-size:10px; width:100%">
                        <tr id="cabecalho_1" style="background-color:grey; color:white; height:20px">
                            <td><h6> 1 - @Model.dias[0].nome</h6></td>
                        </tr>

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[0].itensCalendario)
                             {
                                <tr><td >
                                        <table style="width:100%">
                                            <tr style="height:9px"  id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger" ><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>
                                                
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_2" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_2" style="background-color:grey; color:white">
                            <td colspan="3"> <h6>2 - @Model.dias[1].nome</h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[1].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_3" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_3" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 3 - @Model.dias[2].nome</h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[2].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_4" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_4" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 4 - @Model.dias[3].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[3].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_5" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_5" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 5 - @Model.dias[4].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[4].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_6" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_6" style="background-color:grey; color:white">
                            <td colspan="3"><h6>  6 - @Model.dias[5].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[5].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_7" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_7" style="background-color:grey; color:white">
                            <td colspan="3"><h6>  7 - @Model.dias[6].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[6].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
            <tr id="semana_2">
                <td id="dia_8" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_8" style="background-color:grey; color:white">
                            <td colspan="3"> <h6> 8 - @Model.dias[7].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[7].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_9" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_9" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 9 - @Model.dias[8].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[8].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_10" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_10" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 10 - @Model.dias[9].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[9].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_11" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_11" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 11 - @Model.dias[10].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[10].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_12" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_12" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 12 - @Model.dias[11].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[11].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_13" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_13" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 13 - @Model.dias[12].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[12].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_14" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_14" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 14 - @Model.dias[13].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[13].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
            <tr id="semana_3">
                <td id="dia_15" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_15" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 15 - @Model.dias[14].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[14].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_16" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_16" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 16 - @Model.dias[15].nome </h6></td>
                        </tr>
                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[15].itensCalendario)
                            {
                                <tr>
                                    <td>
                                        <table style="width:100%">
                                            <tr style="height:9px" id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                {
                                                    <td class="bg-primary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                {
                                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }
                                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.cancelado)
                                                {
                                                    <td class="bg-danger"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                }

                                                <td style="width:20px">@item.titulo</td>
                                                <td>@item.inicio.HoraFormatada</td>
                                                <td>@item.fim.HoraFormatada</td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </td>
                <td id="dia_17" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_17" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 17 - @Model.dias[16].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_18" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_18" style="background-color:grey; color:white">
                            <td colspan="3"><h6>18 - @Model.dias[17].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_19" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_19" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 19 - @Model.dias[18].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_20" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_20" style="background-color:grey; color:white">
                            <td colspan="3"><h6>  20 - @Model.dias[19].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_21" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_21" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 21 - @Model.dias[20].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr id="semana_4">
                <td id="dia_22" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_22" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 22 - @Model.dias[21].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_23" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_23" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 23 - @Model.dias[22].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_24" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_24" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 24 - @Model.dias[23].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_25" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_25" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 25 - @Model.dias[24].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_26" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_26" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 26 - @Model.dias[25].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_27" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_27" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 27 - @Model.dias[26].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_28" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_28" style="background-color:grey; color:white">
                            <td colspan="3"><h6> 28 - @Model.dias[27].nome </h6></td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr id="semana_5">
                <td id="dia_29" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_29" style="background-color:grey; color:white">
                            <td colspan="3">
                                <h6>
                                    29 - @if (@Model.dias.Count < Model.qtdDias)
                                    { @Model.dias[28].nome }
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_30" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_30" style="background-color:grey; color:white">
                            <td colspan="3">
                                <h6>
                                    30 - @if (@Model.dias.Count < Model.qtdDias)
                                    { @Model.dias[29].nome }
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
                <td id="dia_31" style="width:100px">
                    <table style="font-size:10px">
                        <tr id="cabecalho_31" style="background-color:grey; color:white">
                            <td colspan="3">
                                <h6>
                                    31 - @if (@Model.dias.Count < Model.qtdDias)
                                    { @Model.dias[30].nome }
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>10:00</td>
                                        <td>12:00</td>
                                        <td>Apometria</td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>