@model OscaFramework.Models.Calendario
 
<div class="container">
<form action="Mes" method="post">
    <div class="row" id="barrafiltro">        
            <div class="card-header">
                <div class="form-group form-inline">
                    <label style="font-weight:bold; font-size:20px">Mês: </label>
                    <div class="input-group">                       
                        <select id="osc_mes" class="form-control" asp-for="@Model.mes">
                            <option value="1" selected="">Janeiro</option>
                            <option value="2">Feverreiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                    <label style="font-weight:bold; font-size:20px">&nbsp;Ano:&nbsp; </label>
                    <div class="input-group">
                        <select id="osc_ano" class="form-control" asp-for="@Model.ano">
                            <option value="2018" selected="">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                    <label style="font-weight:bold; font-size:20px">&nbsp;Profissional:&nbsp; </label>
                    <div class="input-group">
                        <select asp-items="@Model.profissionais" asp-for="@Model.idProfissional" id="osc_profissionais" required="required"></select>
                        <div class="input-group">
                            <button id="osc_filtro" type="submit" class="btn btn-info btn-sm fa fa-exclamation-circle" value="filtro"> <span>Aplicar</span></button>
                            &nbsp;<button id="osc_novo" style="font-size:20px;" type="button" class="btn btn-info btn-sm fa fa-calendar-times-o" onclick="location.href='@Url.Action("FormCreateAtendimento", "Atendimento", null)'"> <span>Novo</span></button>
                        </div>                       
                        <div class="input-group">
                            &nbsp;<button id="osc_voltar" style="font-size:20px;" type="button" class="btn btn-info btn-sm fa fa-backward" onclick="history.back();"> <span>Voltar</span></button>
                        </div>
                    </div>
                </div>             
                                
            </div>
        
    </div>     
    <div class="row" style="background-color:darkgrey; width: 96%; height:10px;"></div>
    <div class="row">
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">1 - @Model.dias[0].nome</label></center></a>
            </div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                            {
                        @foreach (var item in Model.dias[0].itensCalendario)
                                {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                                    {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                    }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                                    {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                                    }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                                }
                            }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">    <center> <label style="font-size:12px;font-weight:bold">2 - @Model.dias[1].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[1].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                             

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">    <center> <label style="font-size:12px;font-weight:bold">3 - @Model.dias[2].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[2].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">4 - @Model.dias[3].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[3].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;        
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">5 - @Model.dias[4].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[4].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;        
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">6 - @Model.dias[5].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[5].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">7 - @Model.dias[6].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[6].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div> 
    </div><br />
    <div class="row">
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">8 - @Model.dias[7].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[7].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                        

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">9 - @Model.dias[8].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[8].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                         

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">10 - @Model.dias[9].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[9].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                          

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>&nbsp;&nbsp;        
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">11 - @Model.dias[10].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[10].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                          

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>&nbsp;&nbsp;       
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">12 - @Model.dias[11].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[11].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                           

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">13 - @Model.dias[12].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[12].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                          

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card" style="width: 9rem;">
        <div class="card-header">
            <a asp-controller="Calendario" asp-action="Dia"> <center> <label style="font-size:12px;font-weight:bold">14 - @Model.dias[13].nome</label></center></a>
</div>
        <div class="card-body">
            <table style="font-size:10px;width:120px;" class="table-hover">

                @if (Model.dias.Count <= Model.qtdDias)
                {
                    @foreach (var item in Model.dias[13].itensCalendario)
                    {

                        <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                            {
                                <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                            @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                            {
                                <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                            }
                          

                            <td>@item.titulo</td>
                            <td>@item.inicio.HoraFormatada</td>
                            <td>@item.fim.HoraFormatada</td>
                        </tr>

                    }
                }
            </table>
        </div>
    </div>
</div><br />
    <div class="row">
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">15 - @Model.dias[14].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[14].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                  

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">16 - @Model.dias[15].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[15].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                 

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">17 - @Model.dias[16].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[16].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                  
                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;        
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">18 - @Model.dias[17].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[17].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                 

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia"> <center> <label style="font-size:12px;font-weight:bold">19 - @Model.dias[18].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[18].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                  

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">20 - @Model.dias[19].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[19].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                 

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header">
                    <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">21 - @Model.dias[20].nome</label></center></a>
</div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[20].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                  

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>
  </div><br />    
    <div class="row">
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">22 - @Model.dias[21].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[21].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia"> <center> <label style="font-size:12px;font-weight:bold">23 - @Model.dias[22].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[22].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;        
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">24 - @Model.dias[23].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[23].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;        
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">    <center> <label style="font-size:12px;font-weight:bold">25 - @Model.dias[24].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[24].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;        
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">  <center> <label style="font-size:12px;font-weight:bold">26 - @Model.dias[25].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[25].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }                             

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;        
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">27 - @Model.dias[26].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[26].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">    <center> <label style="font-size:12px;font-weight:bold">28 - @Model.dias[27].nome</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count <= Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[27].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">    <center> <label style="font-size:12px;font-weight:bold">29 - @if (Model.dias.Count > 28)
                {@Model.dias[28].nome}</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count < Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[0].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">    <center> <label style="font-size:12px;font-weight:bold">30 - @if (Model.dias.Count > 29)
                { @Model.dias[29].nome}</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count < Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[0].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                               

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>&nbsp;&nbsp;
        <div class="card" style="width: 9rem;">
            <div class="card-header">
                <a asp-controller="Calendario" asp-action="Dia">   <center> <label style="font-size:12px;font-weight:bold">31 - @if (Model.dias.Count > 30) { @Model.dias[30].nome}</label></center></a>
</div>
            <div class="card-body">
                <table style="font-size:10px;width:120px;" class="table-hover">

                    @if (Model.dias.Count < Model.qtdDias)
                    {
                        @foreach (var item in Model.dias[0].itensCalendario)
                        {

                            <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                {
                                    <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                                @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                {
                                    <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                }
                              

                                <td>@item.titulo</td>
                                <td>@item.inicio.HoraFormatada</td>
                                <td>@item.fim.HoraFormatada</td>
                            </tr>

                        }
                    }
                </table>
            </div>
        </div>
      
    </div>
    <div class="row" id="legenda">
        <label style="font-weight:bold; font-size:25px">&nbsp;Legenda:<span style="font-size:20px;" class="bg-info">Agendado, </span><span style="font-size:20px;" class="bg-secondary">Atendido</span></label>

    </div>
</form>
</div>