@model OscaFramework.Models.Calendario

<div class="container">
    <form action="Mes" method="post">
        <div class="row" id="barrafiltro">
            <div class="card-header">
                <div class="form-group form-inline">
                    &nbsp;&nbsp;<label style="font-weight:bold; font-size:20px">Mês:&nbsp; </label>
                    <div class="input-group">
                        <select id="osc_mes" class="form-control" asp-for="@Model.mes">
                            <option value="1" selected="">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>                            
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <label style="font-weight:bold; font-size:20px">Ano:&nbsp; </label>
                    <div class="input-group">
                        <select id="osc_ano" class="form-control" asp-for="@Model.ano">
                            <option value="2018" selected="">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <label style="font-weight:bold; font-size:20px">Profissional:&nbsp; </label>
                    <div class="input-group">
                        <select asp-items="@Model.profissionais" asp-for="@Model.idProfissional" id="osc_profissionais" required="required" class="form-control"></select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="input-group">
                            <button id="osc_filtro" type="submit" style="font-size:20px;" class="btn btn-info btn-sm fa fa-exclamation-circle" value="filtro"> <span>Aplicar</span></button>
                            &nbsp;&nbsp;
                            <button id="osc_novo" style="font-size:20px;" type="button" class="btn btn-info btn-sm fa fa-calendar-times-o" onclick="location.href='@Url.Action("FormCreateAtendimento", "Atendimento", null)'"> <span>Novo</span></button>
                        </div>
                        <div class="input-group">
                            &nbsp;&nbsp;
                            <button id="osc_voltar" style="font-size:20px;" type="button" class="btn btn-info btn-sm fa fa-backward" onclick="history.back();"> <span>Voltar</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color:darkgrey; width: 96%; height:10px; margin-bottom:5px;"></div>
        <div class="row">
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 1, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">1 - @Model.dias[0].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[0].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 2, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">2 - @Model.dias[1].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[1].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 3, idProfissional = Model.idProfissional })'">     <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">3 - @Model.dias[2].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[2].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 4, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">4 - @Model.dias[3].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[3].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 5, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">5 - @Model.dias[4].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[4].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 6, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">6 - @Model.dias[5].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[5].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 7, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">7 - @Model.dias[6].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[6].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 8, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">8 - @Model.dias[7].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[7].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 9, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">9 - @Model.dias[8].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[8].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 10, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">10 - @Model.dias[9].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[9].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 11, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">11 - @Model.dias[10].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[10].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important; margin:0!important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 12, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:11.6px;font-weight:bold">12 - @Model.dias[11].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[11].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 13, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">13 - @Model.dias[12].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[12].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 14, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">14 - @Model.dias[13].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[13].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 15, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">15 - @Model.dias[14].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[14].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 16, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">16 - @Model.dias[15].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[15].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 17, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">17 - @Model.dias[16].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[16].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 18, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">18 - @Model.dias[17].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[17].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 19, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:11.6px;font-weight:bold">19 - @Model.dias[18].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[18].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 20, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">20 - @Model.dias[19].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[19].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 21, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">21 - @Model.dias[20].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[20].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 22, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">22 - @Model.dias[21].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[21].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 23, idProfissional = Model.idProfissional })'">  <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">23 - @Model.dias[22].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[22].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 24, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">24 - @Model.dias[23].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[23].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 25, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">25 - @Model.dias[24].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[24].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 26, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:11.6px;font-weight:bold">26 - @Model.dias[25].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[25].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }

                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 27, idProfissional = Model.idProfissional })'">   <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">27 - @Model.dias[26].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[26].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 28, idProfissional = Model.idProfissional })'">    <center> <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">28 - @Model.dias[27].nomeDia</label></center></a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[27].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 29, idProfissional = Model.idProfissional })'">
                        <center>
                            <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">
                                29 - @if (Model.dias.Count > 28)
                                {@Model.dias[28].nomeDia}
                            </label>
                        </center>
                    </a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[28].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 30, idProfissional = Model.idProfissional })'">
                        <center>
                            <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">
                                30 - @if (Model.dias.Count > 29)
                                { @Model.dias[29].nomeDia}
                            </label>
                        </center>
                    </a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[29].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>&nbsp;&nbsp;
            <div class="card" style="width: 9rem;">
                <div class="card-header" style="padding:0 !important;">
                    <a onclick="location.href='@Url.Action("Dia", "Calendario", new {Ano = Model.ano, mes = Model.mes, dia = 31, idProfissional = Model.idProfissional })'">
                        <center>
                            <label style="padding:0.75rem 1.25rem; cursor:pointer; font-size:12px;font-weight:bold">
                                31 - @if (Model.dias.Count > 30)
                                { @Model.dias[30].nomeDia}
                            </label>
                        </center>
                    </a>
                </div>
                <div class="card-body">
                    <table style="font-size:10px;width:120px;" class="table-hover">

                        @if (Model.dias.Count <= Model.qtdDias)
                        {
                            @foreach (var item in Model.dias[30].itensCalendario)
                            {

                                <tr class="border border-dark " id="@item.id" onclick="location.href='@Url.Action("FormUpdateAtendimento", "Atendimento", new {id = item.id })'">
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.agendado)
                                    {
                                        <td class="bg-info"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }
                                    @if (item.statusAtendimento == OscaFramework.Models.CustomEnumStatus.StatusAtendimento.atendido)
                                    {
                                        <td class="bg-secondary"><i class=" fa fa-1x fa-user-circle-o"></i></td>
                                    }


                                    <td>@item.titulo</td>
                                    <td>@item.inicio.HoraFormatada</td>
                                    <td>@item.fim.HoraFormatada</td>
                                </tr>

                            }
                        }
                    </table>
                </div>
            </div>

        </div>
        <div class="row" id="legenda">
            <label style="font-weight:bold; font-size:25px">&nbsp;Legenda: <span style="font-size:20px;" class="bg-info">Agendado</span>, <span style="font-size:20px;" class="bg-secondary">Atendido</span></label>

        </div>
    </form>
</div>