@model X.PagedList.PagedList<OscaFramework.Models.ContasReceber>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1">
            <br />
            <div class="card" id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <form class="form-inline">
                            <table>
                                <tr>
                                    <td>
                                        <h5 style="font-weight:bold">Contas a Receber: &nbsp;&nbsp;</h5>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <label>
                                                <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateContasReceber", "ContasReceber", null)'"> <span>Novo</span></button>
                                            </label>
                                            &nbsp;&nbsp;
                                            <span>
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                            </span>
                                            <button type="submit" class="btn btn-info fa fa-search"></button>
                                            &nbsp;&nbsp;
                                            <label>
                                                <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                            </label>&nbsp;&nbsp;
                                            <label>
                                                <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("PainelFinanceiro", "Paineis", null)'"> <span>Painel Financeiro</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-hover  table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Código</th>
                                    <th>Título</th>
                                    <th>Origem</th>
                                    <th>Tipo Lancamento</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                    <th>Status Recebimento</th>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.id" onclick="location.href='@Url.Action("FormUpdateContasReceber", "ContasReceber", new {id = item.id })'">
                                    <td><i class="fa fa-envelope-open-o"></i></td>
                                    <td>@Html.ActionLink(item.codigo.ToString(), "FormUpdateContasReceber", new { id = item.id })</td>
                                    <td>@item.titulo</td>
                                    <td>@item.origemContaReceber</td>
                                    <td>@item.tipoLancamento</td>
                                    <td>@item.dataPagamento</td>
                                    <td>R$@item.valor.ToString("N2")</td>
                                    <td>@item.statusContaReceber</td>

                                </tr>
                            }
                        </table>
                        <div>
                            <table>
                                <tr>
                                    <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridContasReceber", "ContasReceber", new { page }))</td>
                                    <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /> <br /><br /><br /><br />><br />
<div class="row" style="position:sticky;bottom:20px; padding:10px 0 0 0; background:#fff;">
    <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-money iconPanel" aria-hidden="true"></i></td>

                        <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-handshake-o iconPanel" aria-hidden="true"></i>
                        </td>
                        <td>
                            <a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-wrench iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card m-1">
            <div class="card-body">
                <table>
                    <tr>
                        <td><i class="fa fa-2x fa-cogs iconPanel" aria-hidden="true"></i></td>
                        <td><a asp-controller="Paineis" asp-action="PainelConfiguracoes"><h6>Configurações</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script src="~/js/osc_cliente.js" asp-append-version="true"></script>
<script src="~/js/osc_global.js" asp-append-version="true"></script>
