@model X.PagedList.PagedList<OscaApp.ViewModels.GridViewModels.ContasReceberGridViewModel>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{int viewContexto = ViewBag.viewContexto; }

<div class="row">
    <div class="col-md-12">
        <div class="card" id="osc_Grid">
            <div class="card-header" style="height:60px">
                <div class="card-title">
                    <form class="form-inline" asp-route-view="@viewContexto">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold" class="fa fa-2x fa-envelope-open-o"> Contas a Receber: </h5>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="form-group">
                                            <label>Filtros</label>
                                            <div class="input-group">
                                                &nbsp;<div class="col-2">
                                                    <select id="osc_filtro" class="form-control custom-select-sm" required="required" onchange="OnChangeFiltro();" asp-for="@viewContexto">
                                                        <option value="0" selected="">Todas em Aberto</option>
                                                        <option value="1">Todas Fechadas</option>
                                                        <option value="2">Todas Contas</option>
                                                        <option value="3">Todas Contas de Hoje</option>
                                                        <option value="4">Todas Contas em Atraso</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>&nbsp;
                                        <label>
                                            <button id="osc_novo" type="button" class="btn btn-info btn-sm fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateContasReceber", "ContasReceber", null)'"> <span>Novo</span></button>
                                        </label>
                                        &nbsp;&nbsp;
                                        <span>
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                        </span>
                                        <button type="submit" class="btn btn-info fa fa-search"></button>
                                        &nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="button" class="btn btn-info btn-sm fa fa-remove" value="Limpar" onclick="RecarregarGridContaReceber()"> <span>Limpar</span></button>
                                        </label>
                                        &nbsp; &nbsp;
                                        <label style="font-weight:bold">
                                            Em Aberto R$<input id="valorEmAberto" type="text" style="width:120px; height:30px; font-weight:bold; background-color:aquamarine" disabled="disabled" />
                                        </label>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover  table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th style="width:70px" >Código</th>
                                <th style="width:90px">Referência</th>
                                <th style="width:250px">Título</th>
                                <th style="width:250px">Cliente</th>
                                <th style="width:90px">Origem</th>
                                <th style="width:70px" >Tipo</th>
                                <th style="width:150px">Data Lançamento</th>
                                <th style="width:150px">Data Prevista</th>
                                <th style="width:50px">Valor</th>
                                <th style="width:100px">Valor Pago</th>
                                <th style="width:140px">Valor Restante</th>

                                <th>Status</th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                        <tr style="cursor:pointer;font-size:12px" id="@item.contasReceber.id" onclick="location.href='@Url.Action("FormUpdateContasReceber", "ContasReceber", new {id = item.contasReceber.id })'">
                            <td><i class="fa fa-envelope-open-o"></i></td>
                            <td>@Html.ActionLink(item.contasReceber.codigo.ToString(), "FormUpdateContasReceber", new { id = item.contasReceber.id })</td>
                            <td>@item.contasReceber.numeroReferencia</td>
                            <td>@item.contasReceber.titulo</td>
                            <td>
                                @if (item.cliente != null)
                                {@item.cliente.nomeCliente;
                            }
                            </td>
                            <td>@item.contasReceber.origemContaReceber</td>
                            <td>@item.contasReceber.tipoLancamento</td>
                            <td>@item.contasReceber.criadoEm.ToShortDateString()</td>
                            <td>@item.contasReceber.dataPagamento.ToShortDateString()</td>
                            <td>R$@item.contasReceber.valor.ToString("N2")</td>
                            <td>R$@item.contasReceber.valorPago.ToString("N2")</td>
                            <td>R$@item.contasReceber.valorRestante.ToString("N2")</td>
                            <td>@item.contasReceber.statusContaReceber</td>

                        </tr>
                        }
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <table>
                    <tr>
                        <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridContasReceber", "ContasReceber", new { page, view = viewContexto }))</td>
                        <td><h6>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h6></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div style="height:500px"></div>

<script src="~/lib/OscaJs/osc_contaReceber.js"></script>
<script src="~/lib/OscaJs/osc_servicesWeb.js"></script>

<script>

    var url = window.location.search.replace("?", "");
    var items = url.split("&");

    var array = {
        'valor': items[0]
    }

    if (array.valor == "view=0") { $("#osc_filtro").val("0"); }
    if (array.valor == "view=1") { $("#osc_filtro").val("1"); }
    if (array.valor == "view=2") { $("#osc_filtro").val("2"); }
    if (array.valor == "view=3") { $("#osc_filtro").val("3"); }
    if (array.valor == "view=4") { $("#osc_filtro").val("4"); }

    ValorEmAberto();

    function OnChangeFiltro() {

        var filtro = $("#osc_filtro").val();

        if (filtro == "0") { $(window.document.location).attr('href', "GridContasReceber?view=0"); }
        if (filtro == "1") { $(window.document.location).attr('href', "GridContasReceber?view=1"); }
        if (filtro == "2") { $(window.document.location).attr('href', "GridContasReceber?view=2"); }
        if (filtro == "3") { $(window.document.location).attr('href', "GridContasReceber?view=3"); }
        if (filtro == "4") { $(window.document.location).attr('href', "GridContasReceber?view=4"); }


    }

</script>


