@model X.PagedList.PagedList<OscaFramework.Models.ContasReceber>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 offset-1">
            <br />
            <div class="card" id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td>
                                    <h5 style="font-weight:bold">Contas a Receber: &nbsp;&nbsp;</h5>
                                </td>
                                <td>
                                    <form class="form-inline">
                                        <div class="form-group col-md-2">
                                            <button id="osc_novo" type="button" class="btn btn-info  fa fa-plus" value="Novo" onclick="location.href='@Url.Action("FormCreateContasReceber", "ContasReceber", null)'"> <span>Novo</span></button>
                                        </div>
                                        <div class="form-group  col-md-4">
                                            <div class="input-group">
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                                <span class="input-group-btn ">
                                                    <button type="submit" class="btn btn-info">
                                                        <span class="fa fa-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("PainelFinanceiro", "Paineis", null)'"> <span>Painel Financeiro</span></button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-11">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Código</th>
                                            <th>Título</th>
                                            <th>Origem</th>
                                            <th>Tipo Lancamento</th>
                                            <th>Data</th>
                                            <th>Valor</th>
                                            <th>Status Recebimento</th>

                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.id" onclick="location.href='@Url.Action("FormUpdateContasReceber", "ContasReceber", new {id = item.id })'">
                                            <td><i class="fa fa-envelope-open-o"></i></td>
                                            <td>@Html.ActionLink(item.codigo.ToString(), "FormUpdateContasReceber", new { id = item.id })</td>
                                            <td>@item.titulo</td>
                                            <td>@item.origemContaReceber</td>
                                            <td>@item.tipoLancamento</td>
                                            <td>@item.dataPagamento</td>
                                            <td>R$@item.valor.ToString("N2")</td>
                                            <td>@item.statusContaReceber</td>

                                        </tr>
                                    }
                                </table>
                                <div>
                                    <table>
                                        <tr>
                                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridContasReceber", "ContasReceber", new { page }))</td>
                                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /> <br /><br /><br /><br />><br />
    <div class="row" style="position:sticky;bottom:40px; padding:10px 0 0 0; background:#fff;    ">
        <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

        <div class="col-md-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-cog iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelOperacional"><h6>Operacional</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-money iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-handshake-o iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-wrench iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/osc_cliente.js" asp-append-version="true"></script>
<script src="~/js/osc_global.js" asp-append-version="true"></script>
