@model OscaApp.ViewModels.PedidoRetiradaViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.pedidoRetirada.id)
</div>

<div class="row">
    <div class="col-md-11">
        <form action="FormCreatePedidoRetirada" method="post" id="osc_Mainform">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <table>
                            <tr>
                                <td><h3> Pedidos de Retirada: &nbsp;&nbsp;</h3></td>
                                <td>
                                    <div id="osc_barrabotoes">
                                        <label>
                                            <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-floppy-o" value="Salvar"><span>Salvar</span></button>
                                        </label>
                                        &nbsp;
                                        <label>
                                            <button id="osc_fechar" type="button" class="btn btn-info btn-sm fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridPedidoRetirada","PedidoRetirada", null)'"><span>Fechar</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input id="osc_id" asp-for="pedidoRetirada.id" type="hidden" class="form-control" value="@Model.pedidoRetirada.id" />
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Código</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>&nbsp;
                                        <input id="osc_codigo" asp-for="@Model.pedidoRetirada.codigo" class="form-control" type="text" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Cliente*</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-user-o fa-2x"></span>&nbsp;
                                    </span>
                                    <input id="osc_clienteIdName" asp-for="@Model.cliente.idName" type="text" class="form-control" required="required" autocomplete="off">
                                    <span class="input-group-btn ">
                                        <button type="button" class="btn btn-info" onclick="CarregaLookupCliente()">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                    <input id="osc_clienteId" asp-for="@Model.cliente.id" type="hidden" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Profissional</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-list fa-2x" onclick="OpenLookupProfissional()" style="cursor:pointer"></i></span>&nbsp;
                                        <input asp-for="@Model.profissional.idName" class="form-control" type="text" id="osc_IdNameProfissional" autocomplete="off">
                                        <input asp-for="@Model.profissional.id" class="form-control" type="hidden" id="osc_IdProfissional">
                                        <span class="input-group-btn ">
                                            <button type="button" class="btn btn-info" onclick="CarregaLookupProfissional()" id="osc_botaoBuscaProfissional">
                                                <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo Pagamento</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-list-ul fa-2x"></span>&nbsp;
                                    </span>
                                    <select id="osc_tipoPagamento" asp-for="@Model.pedidoRetirada.tipoPagamento" class="form-control" required="required">
                                        <option value="1" selected="selected">Dinheiro</option>
                                        <option value="2">Cartão Débito</option>
                                        <option value="5">Cartão Crédito</option>
                                        <option value="6">Boleto</option>
                                        <option value="3">Cheque</option>
                                        <option value="4">Deposito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Condição de Pagamento</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-list-ul fa-2x"></span>&nbsp;
                                    </span>
                                    <select id="osc_condicaoPagamento" asp-for="@Model.pedidoRetirada.condicaoPagamento" class="form-control" required="required">
                                        <option value="1" selected="">Á Vista</option>
                                        <option value="2">Parcelado</option>
                                        <option value="3">Á Prazo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo de Desconto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-list-ul fa-2x"></span>&nbsp;
                                    </span>
                                    <select id="osc_tipoDesconto" asp-for="@Model.pedidoRetirada.tipoDesconto" class="form-control"  >
                                        <option value="1" selected="">Valor</option>
                                        <option value="2">Percentual</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Valor Desconto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calculator fa-2x"></span>&nbsp;
                                    </span>
                                    <input id="osc_valorDesconto" asp-for="@Model.pedidoRetirada.valorDesconto" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Data Entrega</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></span>&nbsp;
                                        <input asp-for="@Model.pedidoRetirada.dataEntrega" class="form-control" type="text" id="osc_dataEntrega" autocomplete="off" required="required" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Data Retirada</label>
                                <div class="inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-2x"></i></span>&nbsp;
                                        <input asp-for="@Model.pedidoRetirada.dataRetirada" class="form-control" type="text" id="osc_dataRetirada" autocomplete="off" required="required" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Status do Pedido de Retirada</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-exclamation fa-2x"></span>&nbsp;
                                    </span>
                                    <select id="osc_statusPedido" asp-for="@Model.pedidoRetirada.statusPedidoRetirada" class="form-control" style="background-color:aquamarine">
                                        <option value="0">Em Aprovação</option>
                                        <option value="1">Em Andamento</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Anotação</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-comment-o fa-2x"></span>&nbsp;
                                    </span>
                                    <textarea id="osc_anotacao" asp-for="@Model.pedidoRetirada.anotacao" class="form-control" rows="4" cols="4" placeholder="digite uma anotação"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Criado Por</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-2x fa-user"></span>
                                </span> &nbsp;
                                <input id="osc_criadoPor" asp-for="@Model.pedidoRetirada.criadoPorName" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Criado Em</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar fa-2x"></span>
                                </span> &nbsp;
                                <input id="osc_criadoEm" asp-for="@Model.pedidoRetirada.criadoEm" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Modificado Por</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-2x fa-user"></span>
                                </span> &nbsp;
                                <input id="osc_modificadoPor" for="" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Modificado Em</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar fa-2x"></span>
                                </span> &nbsp;
                                <input id="osc_modificadoEm" for="" type="text" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="lookupProfissional">
</div>
<div class="modal fade" id="lookupCliente">
</div>
<script src="~/lib/OscaJs/osc_global.js"></script>
<script src="~/lib/OscaJs/osc_lookup.js"></script>
<script src="~/lib/OscaJs/osc_pedidoRetirada.js"></script>

<script>
    OnLoad_PedidoRetirada();
</script>


