@model OscaApp.ViewModels.ProdutoOrdemViewModel
@{
    Layout = "_LayoutFrame";
}
<script>
    

    function ConfigLookup(id, name, valor) {

        $("#osc_valor").val(valor);
        $("#osc_IdNameProduto").val(name);
        $("#osc_IdProduto").val(id);

        //$('#lookupProduto').on('hidden', function () { $(this).empty(); });
    }
    function CarregaGrid() {
        $("#grid").val("");
        $.ajax("/itemListaPreco/GridLookupProdutoOrdem?idListaPreco=" + '@Model.listaPreco.id').done(function (data) {
            $("#GridProdutoOrdem").html(data);
        });
        
    }
    function CarregaGridFiltro() {

        var filtro = $("#grid").val();

        $.ajax("/itemListaPreco/GridLookupProdutoOrdem?filtro=" + filtro + '&idListaPreco=@Model.listaPreco.id').done(function (data) {
            $("#GridProdutoOrdem").html(data);
        });

    }
</script>

<div id="contexto">
    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
</div>
<div class="modal-dialog modal-lg">
    <div class="modal-content">       
        <div class="modal-body">
            <form asp-controller="ProdutoOrdem" asp-action="FormCreateProdutoOrdem" method="post" id="FormCreateProdutoOrdem">
                <div class="card" id="osc_MainForm">
                    <div class="card-header">
                        <table>
                            <tr>
                                <td><h3>Produto da Ordem: &nbsp;&nbsp;</h3></td>
                                <td>
                                    <div id="osc_barrabotoes">
                                        <label>
                                            <button id="osc_salvar" type="submit" class="btn btn-info btn-sm fa fa-floppy-o" value""> <span>Salvar e Fechar</span></button>
                                        </label>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <label>
                                            <button type="button" class="close btn btn-info btn-sm" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="card-body">
                        <input type="hidden" asp-for="@Model.ordemServico.id" value="@Model.ordemServico.id" id="osc_idOrdemServico" />
                        <input type="hidden" asp-for="@Model.listaPreco.id" value="@Model.listaPreco.id" id="osc_idListaPreco" />

                        <div class="row">
                            <div class="col-md-5 offset-1">
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Produto*</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produto.idName" class="form-control" type="text" id="osc_IdNameProduto" required="required" disabled="disabled">
                                            <input asp-for="@Model.produto.id" class="form-control" type="hidden" id="osc_IdProduto">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Quantidade</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-list fa-1x"></i></span>
                                            <input asp-for="@Model.produtoOrdem.quantidade" class="form-control" type="text" id="osc_quantidade" value="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" style="color:red">Valor</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-money fa-1x"></i></span>
                                            <input asp-for="@Model.produtoOrdem.valor" class="form-control" type="text" id="osc_valor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Tipo de Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-list-ul fa-1x"></span>
                                        </span>
                                        <select id="osc_tipoDesconto" asp-for="@Model.produtoOrdem.tipoDesconto" class="form-control" onclick="Onchage_ProdutoOrdemTipoDesconto();">
                                            <option value="1">Valor</option>
                                            <option value="2">Percentual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Valor Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-money fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoMoney" asp-for="@Model.produtoOrdem.valorDescontoMoney" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>% Desconto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calculator fa-1x"></span>
                                        </span>
                                        <input id="osc_valorDescontoPercentual" asp-for="@Model.produtoOrdem.valorDescontoPercentual" type="text" class="form-control" required="required" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <table>
                        <tr>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group ">
                                        <label style="font-weight:bold">Pesquisa de Produtos:&nbsp;&nbsp;</label>
                                        <div class="input-group">
                                            @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "...", id = "grid", onkeydown = " CarregaGridFiltro();" })
                                            <span class="input-group-btn ">
                                                <button type="button" class="btn  btn-info" onclick="CarregaGridFiltro();">
                                                    <span class="fa fa-search fa-1x"></span>
                                                </button>
                                            </span>
                                        </div>&nbsp;&nbsp;
                                        <label>
                                            <button id="osc_recarregar" type="button" class="btn btn-info btn-lg  fa fa-remove" value="Limpar" onclick="CarregaGrid()"> <span>Limpar</span></button>
                                        </label>
                                        &nbsp;                                      
                                       
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div id="GridProdutoOrdem">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>       
     CarregaGrid();    
     
</script>
