@model X.PagedList.PagedList<OscaApp.ViewModels.GridViewModels.ProdutoOrdemGridViewModel>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@{
    Layout = "_LayoutFrame";
}
<link rel="stylesheet" href="~/lib/OscaCss/style.css">
<script>

    function CarregaProdutoOrdem() {
        $("#ModalProdutoOrdem").load("/ProdutoOrdem/FormCreateProdutoOrdem?id=" + idOrdemServico + "&idListaPreco=" + idListaPreco, function () {
            $("#ModalProdutoOrdem").modal("show");
        });
    }


    function CarregaUpdateProdutoOrdem(id) {
        $("#ModalProdutoOrdem").load("/ProdutoOrdem/FormUpdateProdutoOrdem?id=" + id , function () {
            $("#ModalProdutoOrdem").modal("show");
        });
    }
</script>

<div class="card normalize" id="osc_Grid">
    
            <table>
                <tr>
                    <td>
                        <h5 style="font-weight:bold">&nbsp;&nbsp;Produto da Ordem: &nbsp;&nbsp;</h5>
                    </td>
                    <td>
                        <div class="form-group col-md-2">
                            <button id="osc_novoProdutoOrdem" type="button" class="btn btn-info bt fa fa-plus" value="Novo" onclick="CarregaProdutoOrdem()"> <span>Novo</span></button>
                        </div>
                    </td>
                </tr>
            </table>
     
    
                <table class="table table-hover table-striped table-responsive-md tableNoMargin">
                    <thead>
                        <tr>
                            <th>Código Produto</th>
                            <th>Nome Produto</th>
                            <th>Qtd</th>
                            <th>Valor</th>
                            <th>Total</th>
                            <th>Desconto</th>
                            <th>Total</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    @{
                        int qtd = 0;
                        decimal desconto = 0;
                        decimal total = 0;
                        decimal totalGeral = 0;

                    }
                    @foreach (var item in Model)
                    {
                        qtd += item.produtoOrdem.quantidade;
                        desconto += item.produtoOrdem.valorDesconto;
                        total += item.produtoOrdem.total;
                        totalGeral += item.produtoOrdem.totalGeral;
                        <tr style="height:10px">
                            <td>@item.produto.codigo</td>
                            <td>@item.produto.nome</td>
                            <td>@item.produtoOrdem.quantidade</td>
                            <td>@item.produtoOrdem.valor.ToString("N2")</td>
                            <td>@item.produtoOrdem.total.ToString("N2")</td>

                            <td>@item.produtoOrdem.valorDesconto.ToString("N2")</td>
                            <td>@item.produtoOrdem.totalGeral.ToString("N2")</td>
                            <td>
                                <div class="form-group col-md-2">
                                    <button id="osc_edit" type="button" class="btn btn-success btn-sm fa fa-edit" value="voltar"  onclick="CarregaUpdateProdutoOrdem('@item.produtoOrdem.id')" > <span>Editar</span></button>
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-2">
                                    <button id="osc_remove" type="button" class="btn btn-danger btn-sm fa fa-remove" value="voltar" onclick="location.href='@Url.Action("DeleteProdutoOrdem", "ProdutoOrdem", new { id = item.produtoOrdem.id, idOrdem = item.produtoOrdem.idOrdemServico })'"> <span>Remover</span></button>
                                </div>
                            </td>
                        </tr>
                    }
                    <tfoot id="osc_tableFooterProdutoOrdem" class="total">
                        <tr style="background-color:gray; color:white ; font-size:20px">
                            <td></td>
                            <td></td>
                            <td>@qtd</td>
                            <td></td>
                            <td>R$@total.ToString("N2")</td>
                            <td>R$@desconto.ToString("N2")</td>
                            <td>R$@totalGeral.ToString("N2")</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="paginacao">
                    <table>
                        <tr>
                            <td style="width:75%">@Html.PagedListPager((IPagedList)Model, page => Url.Action("GridProdutoOrdem", "ProdutoOrdem", new { page }))</td>
                            <td><h5>Registros de @Model.FirstItemOnPage até  @Model.LastItemOnPage - Total:@Model.TotalItemCount</h5></td>
                        </tr>
                    </table>
                </div>
            </div>
 

<div class="modal fade" id="ModalProdutoOrdem">
</div>
 
<script>
   
    var idOrdemServico = window.parent.document.getElementById('osc_id').value;
    var idListaPreco = window.parent.document.getElementById('osc_idListaPreco').value;

    var statusOrdemServico = window.parent.document.getElementById('osc_statusOrdemServico').value;

    if (statusOrdemServico == 2 || statusOrdemServico == 5) $("input,select, textarea, button").prop("disabled", true);
    
</script>

