@model OscaApp.ViewModels.IncidenteViewModel
<div id="contexto">
    @Html.HiddenFor(m => m.Contexto.idOrganizacao)
    @Html.HiddenFor(m => m.Contexto.organizacao)
    @Html.HiddenFor(m => m.Contexto.idUsuario)
    @Html.HiddenFor(m => m.Contexto.nomeUsuario)
    @Html.HiddenFor(m => m.Incidente.id)
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 offset-1">
            <form action="FormCreateIncidente" method="post" id="osc_Mainform">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <table>
                                <tr>
                                    <td><h3> Incidentes: &nbsp;&nbsp;</h3></td>
                                    <td>
                                        <div id="osc_barrabotoes">
                                            <label>
                                                <button id="osc_salvar" type="submit" class="btn btn-info btn-lg fa fa-floppy-o" value="Salvar"><span>Salvar</span></button>
                                            </label>
                                            &nbsp;
                                            <label>
                                                <button id="osc_fechar" type="button" class="btn btn-info btn-lg fa fa-remove" value="Fechar" onclick="location.href='@Url.Action("GridRecurso","Recurso", null)'"><span>Fechar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input id="osc_id" asp-for="Incidente.id" type="hidden" class="form-control" value="@Model.Incidente.id" />
                            <div class="col-md-4 offset-1">
                                <div class="form-group">
                                    <label>Código</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-1x"></i></span>
                                            <input id="osc_codigo" asp-for="@Model.Incidente.Codigo" class="form-control" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 offset-1">
                                <div class="form-group">
                                    <label>Título</label>
                                    <div class="inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-asterisk fa-1x"></i></span>
                                            <input id="osc_nome" asp-for="@Model.Incidente.Titulo" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 offset-1">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-comment-o fa-1x"></span>
                                        </span>
                                        <textarea id="osc_descricao" asp-for="@Model.Incidente.Descricao" class="form-control" rows="4" cols="4" placeholder="digite a descrição do problema"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br /><br />
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Criado Por</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user fa-1x"></span>
                                        </span>
                                        <input id="osc_criadoPor" asp-for="@Model.Incidente.criadoPorName" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Criado Em</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar fa-1x"></span>
                                        </span>
                                        <input id="osc_criadoEm" asp-for="@Model.Incidente.criadoEm" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Status</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-exclamation fa-1x"></span>
                                        </span>
                                        <input id="osc_status" asp-for="@Model.Incidente.status" type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>