@model RegisterViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OSCA Serviços Online</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/osc_global.css" />

    <script type="text/javaScript">
        function BloqueiSpacoEmBranco(input) {
            return input.replace(/^\s+|\s+$/g, "");
        }
    </script>
    <style>
        .barraMain {
            background: linear-gradient(to right bottom,#66dbff, #1c177f);
            height: 50px;
            color: black;
            padding-top: 5px;
        }

        .footer {
            background: linear-gradient(to right bottom, #1c177f,#66dbff);
            height: 30px;
        }

        .osca {
            margin-top: -3px;
            float: left;
            margin-left: 10px;
            font-weight: bold;
            font-size: 30px;
            color: white;
        }

            .osca:hover, .osca:focus, .osca:active {
                color: aliceblue;
                text-decoration: none;
            }

        a {
            text-decoration: none !important;
        }

        .fa-facebook-official {
            color: #1a13ad;
        }

        .fa-youtube {
            color: #ff0000;
        }

        .alert-warning {
            box-shadow: 6px 7px 7px -3px rgba(150,150,150,1);
        }

        .alert-personalized {
            color: black;
            background: #f7f7f7;
            box-shadow: 6px 7px 7px -3px rgba(150,150,150,1);
        }
    </style>

</head>
<body>
    <div class="barraMain navbar-fixed-top">
      
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 offset-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Formulário de Cadastro de Ativação</h4>
                    </div>
                    <br />
                    @if (Model != null && Model.msgOrganizacao != null)
                    {
                        <h4 class="bg-warning text-center">@Model.msgOrganizacao</h4>
                    }
                    <div class="card-body">
                        <div class="col-md-12">
                            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="organizacao.nomeLogin" class="col-md-4 control-label">Empresa</label>
                                    <div class="col-md-8">
                                        <input asp-for="organizacao.nomeLogin" class="form-control" onkeyup="this.value = BloqueiSpacoEmBranco( this.value )" />
                                        <span asp-validation-for="organizacao.nomeLogin" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="col-md-4 control-label">E-mail</label>
                                    <div class="col-md-8">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="col-md-4 control-label">Senha</label>
                                    <div class="col-md-8">
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="col-md-4 control-label">Confirmar senha</label>
                                    <div class="col-md-8">
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="  col-md-8">
                                        @if (Model != null && Model.sucesso == true)
                                        {
                                            <button type="button" class="btn btn-default btn-success" onclick="location.href='@Url.Action("Login", "Account", null)'">Login</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-default">Registrar</button>

                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <br />
                <br />

                <button class="btn btn-lg btn-success" onclick="location.href='@Url.Action("Login", "Account", null)'">Voltar ao Portal</button>
                <br />
                <br />
                <br />

                <section class="alert alert-warning text-justify">
                    <h5>Informações Importantes!</h5>
                    <div>
                        <ul>
                            <li>Anote o nome da Empresa, e-mail e senha</li>
                            <li>O Nome da empresa não pode ter espaço</li>
                            <li>Após o cadastro um e-mail será enviado para você</li>
                            <li>Caso tenha dúvida, assista o vídeo com o passo a passo abaixo!</li>
                            <li>  <a href="https://www.youtube.com/watch?v=ishD56PbXoM&t=36s">Vídeo Como ativar sua empresa</a></li>

                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <br />

    <footer class="footer fixed-bottom">
        <div style="color:#fff; text-align:center;">
            <h6><i class="fa fa-home fa-1x"></i>&nbsp;OSCAS SERVIÇOS ONLINE 2018</h6>
        </div>
    </footer>

</body>
</html>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
