@model OscaApp.ViewModels.UsuarioViewModel
<div id="contexto">

    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.usuario.Id)

</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-tile"></div>
            <div>
                teste

            </div>

        </div>
        <div class="panel-footer">
            <div>
                Rodapé
            </div>
        </div>
    </div>
</div>

 