@model OscaApp.ViewModels.UsuarioViewModel
<div id="contexto">

    @Html.HiddenFor(m => m.contexto.idOrganizacao)
    @Html.HiddenFor(m => m.contexto.organizacao)
    @Html.HiddenFor(m => m.contexto.idUsuario)
    @Html.HiddenFor(m => m.contexto.nomeUsuario)
    @Html.HiddenFor(m => m.usuario.Id)

</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="card-title">

            </div>
            <div>
                teste
            </div>

        </div>
 
    </div>
</div>

 