@model X.PagedList.PagedList<OscaApp.Models.ApplicationUser>
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card  " id="osc_Grid">
                <div class="card-header">
                    <div class="card-title">
                        <form class="form-inline">
                            <table>
                                <tr>
                                    <td>
                                        <h5 style="font-weight:bold">Lista de Usuários: &nbsp;&nbsp;</h5>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <label>
                                                <button id="osc_novo" type="button" class="btn btn-info btn-lg fa fa-plus" value="Novo" onclick="location.href='@Url.Action("RegisterUser", "Account", new {idOrganizacao = @Model[0].idOrganizacao })'"> <span>Novo</span></button>
                                            </label>
                                            &nbsp;&nbsp;
                                            <span>
                                                @Html.TextBox("filtro", "", new { @class = "form-control ", @style = "max-width:none;", placeholder = "Pesquisar", id = "grid" })
                                            </span>
                                            <button type="submit" class="btn btn-info fa fa-search"></button>
                                            &nbsp;&nbsp;
                                            <label>
                                                <button id="osc_recarregar" type="submit" class="btn btn-info btn-lg fa fa-remove" value="Limpar" onclick="RecarregarGrid()"> <span>Limpar</span></button>
                                            </label>&nbsp;&nbsp;
                                            <label>
                                                <button id="osc_back" type="button" class="btn btn-info btn-lg fa fa-backward" value="voltar" onclick="location.href='@Url.Action("PainelGerenciamento", "Paineis", null)'"> <span>Painel Gerenciamento</span></button>
                                            </label>&nbsp;&nbsp;
                                            <label>
                                                <button id="osc_voltar" type="button" class="btn btn-info btn-lg fa fa-backward" onclick="history.back();"> <span>Voltar</span></button>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Criado Por</th>
                                <th>Criado Em</th>

                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr id="@item.Id" onclick="location.href='@Url.Action("FormUpdateUsuario", "Usuario", new {id = item.Id })'">
                                <td><i class="fa fa-user-circle"></i></td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>System</td>
                                <td>XX-XX-XXXX</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br />
    <div class="row" style="position:sticky;bottom:40px; padding:10px 0 0 0; background:#fff;    ">
        <div style="background-color:darkgrey; width: 100%; height:10px;"></div>

        <div class="col-md-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-cog iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelOperacional"><h6>Operacional</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-money iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelFinanceiro"><h6>Financeiro</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-handshake-o iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelVendas"><h6>Vendas</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2">
                <table>
                    <tr>
                        <td><span class="fa fa-2x fa-wrench iconPanel"></span></td>
                        <td><a asp-controller="Paineis" asp-action="PainelServico"><h6>Serviços</h6></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

